/* 此css支撑js/analize/plus.js中的样式声明  */
/* 浮动层 */ /* frame 加塞 */
.layerframe {
	position: relative;
	color: #ffffff;
}

.layermain {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #d6d6d6;
	background: #f7f7f7;
	z-index: 1001;
}

.dssLayer {
	position: absolute;
	z-index: 1000;
}

.dssLayer-title {
	padding: 0;
	line-height: 30px;
	height: 30px;
	font-weight: bold;
	color: #b10400;
	font-size: 12px;
	background: transparent url('images/form-win.png') repeat-x 0 -32px;
	cursor:move;
}
.dssLayer-name {
	background: url('images/form-win.png') no-repeat 0 0;
	color: #b10400;
	padding-left: 30px;
	font-weight: bold;
}
.dssLayer-close {
	background-position: right;
	position: absolute;
	top: 0;
	right: 10px;
	width: 16px;
	height: 25px;
	background: url('images/win-close.png') no-repeat right;
	cursor:pointer;
}

.dssLayer-content {
	position: relative;
	font-size: 12px;
	padding: 5px;
	overflow-x: hidden;
	margin: 0 0 10px;
}

/*
选框
*/
td div.select {
	margin: 5px 0 0 0;
	height: 250px;
	width: 210px;
	position: relative;
}
span.select {
	padding: 0;
	position: absolute;
	OVERFLOW: hidden;
	border: 1px solid #DBDFE6;
}
select.multiple {
	height: 250px;
	width: 210px;
	margin: -3px -3px -7px -3px;
	padding: 3px 3px 7px 3px;
}

/*
多选框table
*/
.ana_select_content {
	padding: 5px;
}

.ana_select {
	width: 100%;
	border-collapse: collapse;
}

/*
字段选择FieldLayer
*/
.column_tree {
	width: 100%;
	height:280px;
	border: #DBDFE6 1px solid;
}

.column_tree .checkbox {
	background: #F1F4FC;
}

.column_tree .ana-tbl-data {
	width: 100%;
}

.column_tree .ana-tbl-data td {
	border-color: #fff #B1D8EF #B1D8EF #fff;
	border-style: solid;
	border-width: 1px;
	background-color: #f1f4fc;
	height: 35px;
	line-height: 35px;
	font-weight: normal;
	color: #0079E0;
	font-size: 13px;
}

.column_tree_buttons {
	width: 100%;
	text-align: center;
}

.column_tree_buttons span {
	margin: 0px 5px;
}

/*报表*/

.ana-tbl-data {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: auto;
}

.ana-tbl-data th {
	white-space: nowrap;
	padding: 0 5px 0 5px;
	background-color: #f1f4fc;
	height: 30px;
	font-weight: normal;
	color: #0079E0;
	font-size: 13px;
	border-color: #fff #ddd #B1D8EF #ddd;
	border-style: solid;
	border-width: 1px;
}

.ana-tbl-data a {
	color: #0079E0;
}

.ana-tbl-data td {
	white-space: nowrap;
	padding: 0 5px 0 5px;
	border-color: #fff #ddd #B1D8EF #ddd;
	border-style: solid;
	border-width: 1px;
	color: #333;
	font-size: 13px;
	font-weight: normal;
	height: 26px;
	line-height:20px;
}

.ana-tbl-data tr.even {
	background: #fbfbfb;
}

.ana-tbl-data tr.hover td {
	background: #d9ebf5;
	border-left: 1px solid #eef8ff;
	border-bottom: 1px dotted #a8d8eb;
}

.ana-tbl-data tr.selected {
	background: #d5effc url(ana/images-file/hl.png) repeat-x top;
	border-right: 1px solid #d2e3ec;
	border-left: 1px solid #eef8ff;
	border-bottom: 1px solid #a8d8eb;
}

/* 表头排序  */
.ana-tbl-data th.order-column-default,.ana-tbl-data th.order-column-asc,.ana-tbl-data th.order-column-desc{
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding:0 21px 0 5px;
}
.ana-tbl-data th.order-column-default{
	
}
.ana-tbl-data th.order-column-asc{
	background-image:url(ana/icons/desc.gif);
}
.ana-tbl-data th.order-column-desc{
	background-image:url(ana/icons/asc.gif);
}
.ana-tbl-data th.order-column-asc,.ana-tbl-data th.order-column-desc{
	background-color: #8dbdd8;
	color:#000;
}
.ana-tbl-data th.order-column-click{
	background-color: #8dbdd8;
}
/* 滚动  */
div.ana-scroll,div.ana-scrollX,div.ana-scroll{
	margin: 0;
	padding: 0;
	position: relative;
}
div.ana-scrollX{
	padding:0 0 20px 0;
	overflow-x: auto;
	overflow-y: hidden;
}
div.ana-scrollY{
	overflow-x: hidden;
	overflow-y: auto;
}

div.ana-scroll{
	overflow-x: auto;
	overflow-y: auto;
}
/* button */
/*.ana-button {
	cursor: pointer;
	padding: 2.5px;
	margin-right: 6px;
	width: 64px;
	color: #fff;
	border: none;
	text-align: center;
	background: url(ana/images/button_bg.jpg) repeat;
}*/
.ana-button {
    background: url(images/home_content.png) no-repeat;
	border: 1px #d4d4d4 solid;
	margin: 5px;
	width: auto;
	height: 22px;
	text-align: center;
	line-height:20px;
	color:#a04c4a;
	cursor:pointer;
}
.btn-normal {
	width: 81px;
	height: 23px;
	line-height: 23px;
	color: #bb0500;
	font-weight: bold;
	background-position: 0 -258px;
}

/* 分页标签  */
#page-layer {
	position: absolute;
}

#page-layer #page-count {
	line-height: 20px;
	float: left;
}

#page-layer #page-count span {
	font-weight: bold;
	margin: 0 5px 0 5px;
}

#page-layer #page-button {
	float: left;
}

#page-layer .page-img-button {
	margin: 0 2px;
	width: 22px;
	height: 22px;
	border: 0px;
	cursor: pointer;
	float: left;
	display: block;
	overflow: hidden;
}

#page-layer .hover {
	border: 1px solid #ccc;
}

#page-layer #goInput {
	width: 36px;
	float: left;
	display: block;
	overflow: hidden;
}

#page-layer #first {
	background: url(ana/images-file/first.gif) no-repeat center;
}

#page-layer #last {
	background: url(ana/images-file/last.gif) no-repeat center;
}

#page-layer #prev {
	background: url(ana/images-file/prev.gif) no-repeat center;
}

#page-layer #next {
	background: url(ana/images-file/next.gif) no-repeat center;
}

/* 消息显示  */
.message {
	position: absolute;
	top: 0;
	left: 0;
	background: #fff url(ana/images-file/load.gif) no-repeat 3px center;
	border: 1px solid red;
	padding: 0 5px 0 22px;
	line-height: 24px;
	font-size: 12px;
	font-weight: bold;
	color: blue;
	letter-spacing: 1px;
	z-index: 10000;
}
/* tooltip */
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #F1DFD1;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }


