* { font-size: 12px;}
.toggleCollapse {
	background-repeat:repeat-x;
	border-bottom: 1px solid #cfdce7;
	display:block;
	height:26px;
	line-height: 26px;
	text-indent: 8px;
	font-weight: bold;
	overflow:hidden;
	background-color:#E7EFF0;
	color: #004586;
}

.accordion {
	border-style:solid;
	border-width:0px 0px 0px;
	display:block;
	padding:5px;
}
.accordion {
	background:none repeat scroll 0 0 #FFFFFF;
	border-color:#cfdce7;
}

.pageHeader {
	border-style:solid;
	border-width:0 0 1px;
	display:block;
	margin-bottom:1px;
	overflow:auto;
	padding:5px 12px;;
	position:relative;
	border-color:#eee;
	background: #fafafa;
}
.pageHeader input {
	margin: 0 4px;
}

button {
	background:none repeat scroll 0 0 transparent;
	border:0 none;
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	height:25px;
	line-height:25px;
	margin:0;
	padding:0 0 5px;
	width:auto;
}

body{
	font:80%/1.45em "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}

.formBar {
	border-style:solid;
	border-width:1px 0 0;
	border-color:#B8D0D6;
	clear:both;
	height:30px;
	padding:5px 5px 0;
}

.pageFormContent p {
	display:block;
	height:21px;
	margin:0;
	padding:5px 0;
	position:relative;
	width:380px;
}

.pageFormContent label {
	float:left;
	line-height:21px;
	padding:0 5px;
	width:120px;
}

.pageFormContent .textInput {
	float:left;
}

input.readonly, textarea.readonly {
	background-color:#F6F6F6;
	border-color:#9EABB3 #D5DBDF #D5DBDF #9EABB3;
}

span.error {
	background:none repeat scroll 0 0 #FF0000;
	color:#FFFFFF;
	display:block;
	height:21px;
	left:318px;
	line-height:21px;
	overflow:hidden;
	padding:0 3px;
	position:absolute;
	top:5px;
	width:165px;
}

.split
{background:url("../images/framework/line.gif") no-repeat scroll right center transparent;}

.pageHeader span {
color:#888888;
text-indent:20px;
}

input.required, textarea.required {
	background-position:100% 0;
}

input, input.required, input.error, input.readonly, input.disabled, textarea.focus, textarea.required, textarea.error, textarea.readonly, textarea.disabled {
border-style:solid;
border-width:1px;
font-size:12px;
line-height:15px;
margin:0;
padding:2px;
}

input{
	background-color:#FFFFFF;
	border-color:#A2BAC0 #B8D0D6 #B8D0D6 #A2BAC0;
}

.required,input:focus
{
	background:url("../images/form/input_bg.png") no-repeat scroll 0 0 transparent;
}

input:focus, textarea.focus {
	background-color:#F8FAFC;
	border-color:#64AABC #A9D7E3 #A9D7E3 #64AABC;
}




/*ssh*/	
.page-title {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #e5e5e5;
	background: url(../images/home_content.png) 0 0 repeat-x;
	height: 25px;
	line-height: 25px;
	
}
.page-title span {
	line-height: 180%;
	display: block;
	float: left;
	color: #888;
	/*background: url(../images/home_content.png) 0 -27px no-repeat;*/
	text-indent: 20px;
}
.page-title span b {
	color: #268FDD;
	font-weight: normal;
}


.right-btn {
	float: right;
	padding: 0 8px 0 12px;
	overflow: hidden;
	margin-top: 0;
	width:30px;
	_overflow: hidden;
}
.right-btn ul {
	border: none;
	height: 21px;
	line-height: 21px;
	margin-top: 1px;
}
.right-btn ul li {
	float: right;
	margin-right: 0;
	position: relative;
	color:#AAD9FF;
	/*width: 21px;*/
	height: 21px;
	cursor: pointer;
	padding: 1px;
}
.right-btn ul li img {
	position:relative;
	top: 4px;
	left: 2px;
	z-index:90;
	margin-right:5px;
}
.right-btn ul li.on {
	border: 1px solid #f1a661;
	background: #f1e1d0;
	padding: 0px;
}
.icon-title {
	background: url(../images/home_content.png) 0 -85px repeat-x;
	border-left: 1px solid #ddd;
	_width: 30px;
}
.icon-table {
	margin-top: 0;
	width:400px;
	_overflow: hidden;
}

.icon-table a:link, .icon-table a:visited{color:#264AB4;}
.icon-table a:hover, .icon-table a:active{color:#268FDD;}



.search-div {
	border-bottom: 1px solid #e0d2d2;
	background: url(../images/search-bg.png) 0 bottom repeat-x #d8d3d3;
	padding: 0 6px;
}
.search-div ul {
	clear: both;
	height: 32px;
}
.search-div ul li{float:left; margin:0 5px;}
.work-div {
	margin: 12px;
}
.work-div .half .left {
	float: left;
	width: 49.5%;
}
.work-div .half .right {
	float: right;
	width: 49.5%;
}
.clr {
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	border: none;
	clear: both;
	margin: 0;
	padding: 0;
}
.divide {
	height: 8px;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	border: none;
	margin: 0;
	padding: 0;
	clear: both;
}
.item {
	margin-bottom:10px;
}
.item .caption {
	height: 28px;
	line-height: 28px;
}
.item .content {
	/*padding: 8px;*/
}
.item .caption span {
	display: block;
	float: left;
	text-indent: 16px;
}
.p1 .caption {
	background: url(../images/home_content.png) 0 -172px repeat-x;
}
.p2 .caption {
	background: url(../images/home_content.png) 0 -112px repeat-x;
}
.p1 .caption span {
	color: #00537B;
	font-weight: bold;
	background: url(../images/home_content.png) 0 -202px no-repeat;
}
.p2 .caption span {
	color: #00537B;
	font-weight: bold;
	background: url(../images/home_content.png) 0 -142px no-repeat;
}
.p3 .caption {
	background: url(../images/home_content.png) 0 -424px repeat-x;
}
.p3 .caption span {
	color: #000;
	font-weight: bold;
	background: url(../images/home_content.png) 0 -392px repeat-x;
}
.pic-title {
	line-height: 20px;
	border: 1px solid #c6c6c6;
	border-bottom: none;
}
.pic-content {
	border: 1px solid #c6c6c6;
}
.pic-title b {
	margin-left: 8px;
}
.pic-title a {
	color: #333;
	padding: 0 4px;
	margin-left: 2px;
}
.pic-title a.on {
	color: #fff;
	background: #666;
}
.table-normal {
	width: 100%;
}
.table-normal th, .table-normal td {
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
	padding: 2px 4px;
}
.table-normal th {
	background: #f5f5f5;
	color: #0288C9;
	text-align: left;
	border-bottom: 1px solid #dfdfdf;
	border-right:  1px solid #dfdfdf;
	font-weight:normal;
}
.table-normal td {
	background: #fff;
	color: #333;
	text-align: left;
	/*border-bottom: 1px solid #eaeaea;*/
}

.table-normal tr.spec td {
	background: #fafafa ;
}
.table-normal tr.highlight td {
	background: #FFFDE6;
}
.table-normal tr td.highlight {
	background: #FFFDE6;
}
.table-normal tr.hover td {
	background: #F0F7F7;
}

.table-normal a{
	color:#00537B;}

.table-line {
	border-left: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
}
.table-line th, .table-line td {
	border-right: 1px solid #eaeaea;

}
.table-dot th, .table-dot td {
	/*border-bottom: 1px dashed #eaeaea;*/
}
.pages {
	color: #777;
	text-align: right;
	padding: 4px;
	background: #fafafa;
	margin: 1px 0;
}
.pages a {
	color: #00537B;
	padding: 0px 6px;
	margin: 0 6px;
	border: 1px solid #73B2DE;
	background:#F1F9FE;
}
.pages a:hover {
	color: #fff;
	background: #0079E0;
	border: 1px solid #73B2DE;
}
.pages input {
	border: 1px solid #999;
	width: 24px;
	margin: 0 4px;
}
.align-c {
	text-align: center;
	padding: 6px;
	margin-top:10px;
}
.align-l {
	text-align: left;
	padding: 6px;
}
button {
	background: url(../images/home_content.png) no-repeat;
	border: none;
	cursor:pointer;
	
}
.btn-normal {
	width: 80px;
	height: 26px;
	line-height: 26px;
	color: #fff;
	font-weight: bold;
	background-position: 0 -258px;
	margin-right:5px;
}
.btn-long {
	width: 160px;
	height: 26px;
	line-height: 26px;
	color: #fff;
	font-weight: bold;
	background-position: 0 -287px;
	margin-right:5px;
}
.btn-group {
	width: 32px;
}
.btn-select {
	width:40px;
	border:#A5480F solid 1px;
	background:#D36F34;
	color:#FFF;
  text-align:center;
  margin-left:10px;
}
.btn-x {
	width:40px;
	border:#999 solid 1px;
	background:#F9FCFF;
	color:#666;
  text-align:center;
  margin-left:10px;
}
.btn-search {
	width: 60px;
	height: 22px;
	line-height: 22px;
	background: url(../images/home_content.png) 0 -364px no-repeat;
	border: none;
}
.search-div ul li .btn-search {
	margin: 3px 0 0 0;
}
.datetxt {
	height: 23px;
	line-height: 23px;
	background: url(../images/home_content.png) 0 -314px no-repeat;
	border: none;
}
.search-div ul li .datetxt {
	float: left;
	margin: 3px 0 0 0;
}
.ipt-txt {
	height: 19px;
	line-height: 19px;
	border: 1px solid #00CCFF;
	border-right-color:#0D6EB6;
	border-bottom-color:#0D6EB6;
	background:url(../images/tab/ipt-bg.png) repeat-x #fff 0 0;
	width: 120px;
}
.search-div ul li .ipt-txt {
	float: left;
	margin: 3px 0 0 0;
}
.search-div ul li img {
	margin: 3px 0 0 0;
	_margin-left: -3px;
}
.field {
	border: 1px solid #eee;
	padding: 6px;
}
.field legend {
	color: #777;
}
.UI_select{width:100px; height:23px; position:relative; line-height:19px; font-size:12px; background: url(../images/home_content.png) 0 -314px no-repeat;}
.search-div ul li .UI_select { margin-top:3px;}
.UI_select ul{position:absolute; display:none; top:20px; min-width:98px; overflow-x:hidden; overflow-y:auto; background-color: #FEFCE7; border-bottom:1px solid #b1b0b0; border-left:1px solid #b1b0b0; border-right:1px solid #b1b0b0; list-style:none; padding: 4px 0; height: auto;}
.UI_select img{float:right; margin:1px; display:inline;}
.UI_select_til{ height: 23px; width:83px; padding-right:17px; float:left; text-align:center; overflow:hidden; cursor:default; background: url(../images/icons/select-Bg.gif) no-repeat right center;}
.UI_select ul li{padding-left:4px; height:18px; line-height:18px; float:none; margin:0; cursor:pointer;}
.UI_select ul li.active{background-color:#316ac5; }


.mutiSelect{position:relative; width:120px; height:20px; position:relative;
	line-height: 20px;
	border: 1px solid #b1b0b0;
	background: #fafafa;
	cursor: pointer;
	z-index:99;
	}
.search-div ul li .mutiSelect {
	margin: 3px 0 0 0;
}
.mutiSelect ul{position:absolute; top:20px; left: -1px; display:none; background:#FEFCE7; z-index:99; width: 200px;
	border: 1px solid #b1b0b0; padding: 4px 0;
	height: auto;}
.mutiSelect ul li {
	margin-right: 8px;
	height: 20px;
	line-height: 20px;
}
.mutiSelect .ct {
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.win {
	border: 1px solid #be8c8b;
	width: 480px;
}
.win .caption {
	height: 25px;
	line-height: 25px;
	background: url(../images/index/form-win.png) 0 -32px repeat-x;
	border-bottom: 1px solid #be8c8b;
}
.win .caption span {
	display: block;
	float: left;
	height: 25px;
	line-height: 24px;
	background: url(../images/index/form-win.png) 0 0 no-repeat;
	padding-left: 28px;
	color: #a80400;
	font-weight: bold;
}
.content-in {
	padding: 8px;
}
.win .content iframe {
	width: 100%;
	border: none;
}
.form-normal {
	width: 100%;
}
.form-normal td, .form-normal th {
	padding: 4px;
	border-bottom: 1px dashed #EAEAEA;
}
.form-normal th {
	background: #fafafa;
	text-align: right;
	color: #666;
}
.input-s {
	width: 40px;
}
.notice {
	/*background: url(../images/index/notice-bg.gif) 0 bottom repeat-x #f8f8f8;*/
}
.notice img {
	float: left;
	margin: 16px 24px;
}
.notice .txt {
	color: #333;
	font-weight: bold;
	height: 80px;
	line-height: 80px;
}
.notice .btn {
	text-align: center;
	padding: 8px;
	clear: both;
}

.inner-panel .nav-panel {
	float: left;
	width: 200px;
}
.inner-panel .work-content {
	margin: 0 0 0 208px;
	text-align: left;
}
.tree-check {
	width: 188px;
	overflow-x: scroll;
}

ul.pro-bar {
	width: 100%;
}
ul.pro-bar li {
	margin: 8px 0;
	float: left;
	width: 132px;
	height: 32px;
	line-height: 30px;
	color: #666;
	list-style-type: none;
	background: url(../images/index/pro-off.gif) 0 0 no-repeat;
	cursor: pointer;
}
ul.pro-bar li .title {
	font-size: 18px;
	font-weight: bold;
	margin-left: 16px;
	margin-right: 4px;
	color: #888;
}
ul.pro-bar li.on {
	margin: 8px 0;
	float: left;
	width: 132px;
	height: 32px;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
	background: url(../images/index/pro-on.gif) 0 0 no-repeat;
}
ul.pro-bar li.on .title {
	font-size: 18px;
	font-weight: bold;
	margin-left: 16px;
	margin-right: 4px;
	color: #fff;
}

/*link button style*/
.approve{
	background:#F1F9FE;
	border:1px solid #73B2DE;
	border-top-color:#B7DCFB;
	border-left-color:#B7DCFB;
	padding:2px 4px 2px 4px;
	}

.decline{
	background:#FFFFF2;
	border:1px solid #DBDE76;
	border-top-color:#FCFF89;
	border-left-color:#FCFF89;
	padding:2px 4px 2px 4px;
	}
	
/*status*/	
.status-approve{
	background:url(../images/icons/tick-status.png) no-repeat left center;
	padding-left:20px;
	color:#669900;
}
.status-decline{
	background:url(../images/icons/cross-status.png) no-repeat left center;
	padding-left:20px;
	color:#D34B4B;
}
.status-task{
	background:url(../images/icons/task-status.png) no-repeat left center;
	padding-left:20px;
	color:#EA7000;
}
.small-font {
  font-family:arial;
  font-size:10px;;
}
.links a{
  color:#00BCEA;
  text-decoration:underline;
}
