body, h1, div, li, ul, img, span, p ,h1,h2,h3,h4,h5,h6,button{
	margin: 0;
	padding: 0;
	font-weight: normal;
}
*{margin:0; padding:0}
html {
	position: static;
}
/*body,html{ overflow:hidden; overflow-y:auto;}*/
li {
	list-style-type: none;
}
img {
	border: none;
	vertical-align: middle;
}
body {
	font-family: Verdana,宋体;
	font-size: 12px;
	background: #fff;
	height:100%;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 12px;
}
dt, dd {
	margin-left: 0;
}
a { color:#656565;
	text-decoration: none;
	font-weight: normal;
}
a:hover {
	text-decoration: underline;
}
.clear{ clear:both;}
.f_l{ float:left;}
.num-red {
	color: #CD3326;
}
.num-grey {
	color:#838383;
}
.num-red2 {
	color: #FD5735;
}
.num-green {
	color: #4FB54F;
}
