
/*重点：固定行头样式*/
.scrollRowThead
{
position: relative; 
left: expression(this.parentElement.parentElement
.parentElement.parentElement.scrollLeft);
z-index:0;
}
/*重点：固定表头样式*/
.scrollColThead 
{
position: relative;
top: expression(this.parentElement.parentElement
.parentElement.scrollTop);
z-index:2;
}
.scrollRow
{
position: relative;
z-index:-1;
}
/*行列交叉的地方*/
.scrollCR 
{ 
z-index:3;
}

/*div外框*/
.scrollDiv1
{
height:489px;clear: both; 
border: 1px solid #EEEEEE;
OVERFLOW: auto;
width: 99%; 
}
/*div外框*/
.scrollDiv
{
height:400px;clear: both; 
border: 1px solid #EEEEEE;
OVERFLOW: auto;
width: 99%; 
}

/*行头居中*/
.scrollColThead td,.scrollColThead th
{
	 text-align: center ;
	 background-color:#EEEEEE;
}
/*行头列头背景*/
.scrollRowThead,.scrollColThead td,.scrollColThead th
{
background-color:#EEEEEE;
}