.pagination {
            font-size: 100%;
        }
        
.pagination .square {
 	  border-style: solid;
	  border-width: 1px;
	  border-color:#d9dbda;
	  background:#fff;
	  width: 16px;
	  height: 16px;
	  z-index: 256;
	  float:left;
	  margin:0 5px;
	  background:url(../images/edit_btn_bg.png) repeat-x;
}

.pagination .noboder {
 	  border-style: solid;
	  border-width: 1px;
	  border-color:#d9dbda;
	  background:#fff;
	  z-index: 256;
	  float:left;
	  margin:0 5px;
}

.pagination .current {
    background: #99B3FF;
    color: #333;
	border: solid 1px #AAE;
}

.page_count_right{
	position:absolute;
	right:20px;
	top:5px;
}

.page_count_left{
	position:absolute;
	left:20px;
	top:5px;
}

.page_count{
	position:relative;
	width:100%;
	height:30px;
	background:url(../images/table_count_bg.png) repeat-x;
}
