*{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}
body {
	width: 1350px;
	overflow: scroll;
}
container {
	width: 1350px;
}
#leftContainer {
	float: left;
	border: 1px solid #ffeedd;
}
#rightContainer {
	float: left;
}
.left_div {
	width: 280px;
}
.left_div_title {
	width:280px;
	height:25px;
}
.left_div_title {
	/* background-image:url("../images/table_head_bg2.jpg") ; */
	background: #d89a83;
}
.left_div_title span {
	font-size: 14px;
	font-weight: bold;
	position: relative;
	top: 5px;
	left: 10px;
	color: #615d5c;
}
.left_div_con{
	padding:8px;
	background: #f5f0e8;
}
.left_div_con ul li{
	list-style:none;
	color: #666;
	background: url("../images/table_arrow_blue.png") no-repeat;
	background-position: 5px 9px;
	padding: 5px;
}
.left_div_con ul li span {
	margin-left: 12px;
}

/**----------------**/
.right_div_chart {
	width: 500px;
	border: 1px solid #ffeedd;
	float: left;
	height: 305px;
	margin-left: 10px;
	float: left;
}
.right_chart_title {
	background: #d89a83;
	height:25px;
	font-weight: bold;
}
.right_chart_title span {
	font-size: 14px;
	font-weight: bold;
	position: relative;
	top: 5px;
	left: 20px;
	color: #615d5c;
	float: left;
}
.tb_list {
	margin-left:10px;
	margin-top:10px;
	border: 1px solid #ffeedd;
	height: 500px;
	width: 1014px;
	float: left;
}
.tb_list_title {
	height: 30px;
	background: #d89a83;
	width: 1014px;
}
.tb_list_title span {
	position: relative;
	top: 7px;
	left: 15px;
	font-weight: bold;
	font-size: 14px;
}
.table_list_div {
	background: #fff;
}
.tableList {
	border-top:1px solid #999;
	border-left:1px solid #999;
	width: 1014px;
}
.tableList tr td {
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	padding: 5px;
}
.tableList thead tr th {
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	padding: 5px;
	background: #a7a2b8;
}
