/* CSS Document */
@import url(reset.css);

html,body{
	font-size:12px; 
	font-family:"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	}
.fl{ 
	float:left;
	}
.fr{ 
	float:right;
	}
/*------------------------------------登录------------------------------------*/
#login_body_bg{
	background:url(../images/login_body_bg.gif) #fcccbb repeat-x; 
	}
.login_content{ 
	width:950px; 
	height:434px;
	margin-left:auto; 
	margin-right:auto; 
	margin-top:100px; 
	background:url(../images/login_bg.png) center no-repeat;
	position:relative;
	}
.login_content ul{
	position:absolute;
	top:120px;
	left:350px;
	}
.login_content ul li{ padding:12px 0; height:22px;}
.login_content ul li label{ 
	width:105px;
	padding-right:5px; 
	font-size:16px ; 
	color:#888; 
	text-align:right;
	float:left;
	line-height:32px;
	}
.login_content ul li a{  
	width:70px; 
	height:24px;
	margin:0 5px;
	}
	
#code{
	position:absolute;
	top:110px;
	left:260px;
	width:70px;
	*top:118px;
	_top:140px;
	*left:260px;}	



/*---登录框颜色变换---*/
.input_on,.input_off,.input_move,.input_out{ 
	width:240px; 
	height:32px; 
	padding-left:40px; 
	color:#666; 
	line-height:32px;
	}
.input_on,.input_move{ 
	border:1px #ff9600 solid; 
	float:left;
	}
.input_off,.input_out{ 
	border:1px #ccc solid; 
	float:left;
	}
/*---登录按钮---*/

.login_content ul li button:hover{text-decoration:none}

#login_btn{
	position:absolute;
	left:120px;
	top:150px;
	_top:170px;}

.btn_primary {
	background:url(../images/login_bt_bg.png) repeat-x;
	border:0px solid #eb700a;
    color:#FFF;
	height:38px;
	width:100px;
	text-align:center;
	text-decoration:none;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	font-size:14px; 
	font-weight:bold;
	cursor:pointer;
	margin-right:20px;
	margin-top:20px;
	
}
/*---登录页底部---*/
.login_footer{ 
	width:100%;
	color:#555; 
	text-align:center; 
	}



















