@charset "utf-8";
body{
	margin:0;
	padding:0;
	font-family:"Microsoft YaHei", "微软雅黑", Arial,SimSun, "宋体", Heiti, "黑体", sans-serif;
	font-size:12px;
	overflow-x:hidden;
	position:relative;}
li{list-style-type:none;}
img{border:none;}
a{text-decoration:none;color:#585e63;}
a:visited{}a:hover{text-decoration:none}
a:active{}{list-style:none}
p,h1,h2,h3,h4,h5,h6,form,input,textarea,select,button,fieldset,legend,img,ul,ol,li,dl,dt,dd,th,td,pre,blockquote{margin:0;padding:0;}
.clear{ clear:both;}
.fl{float:left;}
.fr{float:right;}



#container{
	width:500px;
	height:300px;
	margin:20px auto;}
#tips_top{
	position:relative;}
#tips_top_left{
	background:url(../images/tips_border_top_left.png);
	width:10px;
	height:25px;
	float:left;}
#tips_top_main{
	background:url(../images/tips_border_top_main.png) repeat-x;
	width:480px;
	height:25px;
	float:left;}
#tips_top_right{
	background:url(../images/tips_border_top_right.png);
	width:10px;
	height:25px;
	float:left;}
#tips_content{
	border:1px solid #dbdbdd;
	height:238px;
	width:498px;}
#tips_bottom{
	position:relative;}
#tips_bottom_left{
	background:url(../images/tips_border_bottom_left.png);
	width:10px;
	height:35px;
	float:left;}
#tips_bottom_main{
	background:url(../images/tips_border_bottom_main.png) repeat-x;
	width:480px;
	height:35px;
	float:left;}
#tips_bottom_right{
	background:url(../images/tips_border_bottom_right.png);
	width:10px;
	height:35px;
	float:left;}
#back_btn{
	display:block;
	width:64px;
	height:22px;
	margin:0 auto;
	margin-top:5px;
	background:url(../images/back_btn.png);}
	
	
#wrong_tips{
	width:270px;
	background:url(../images/wrong_icon.png) top left no-repeat;
	padding-left:70px;
	margin-left:20px;
	margin-top:10px;}
.wrong_tips_title{
	color:#F00;
	font-size:14px;
	padding-bottom:10px;}
.wrong_tips_info{
	border-bottom:1px dashed #999999;
	padding-bottom:10px;
	margin-bottom:10px;}


	
.jscroll-c{
	width:480px;
	padding:5px;}	
	
	
.jscroll-u{
	background:url(../images/up.png);
	position:absolute;top:0px;width:100%;right:0;overflow:hidden}
.jscroll-d{
	background:url(../images/down.png);}
	
.jscroll-h{
	background:#eedee1;
	position:absolute;
	left:0;
	-moz-user-select:none;
	border:1px solid #b7ae9d;}	

	
	
	
	
	
	
	
	
	
	
	
