table {
	table-layout: auto;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 12px;
}
.page-title {
	border-top: 1px solid #c4a5a2;
	border-bottom: 1px solid #c7aaa7;
	background: url(../images/home_content.png) 0 0 repeat-x;
	height: 25px;
	line-height: 25px;
}
.page-title span {
	display: block;
	float: left;
	color: #9c8485;
	background: url(../images/home_content.png) 0 -27px no-repeat;
	text-indent: 20px;
}
.page-title span b {
	color: #bb0500;
	font-weight: normal;
}
.right-btn {
	float: right;
	padding: 0 8px 0 12px;
	overflow: hidden;
}
.right-btn ul {
	border: none;
	height: 21px;
	line-height: 21px;
	margin-top: 1px;
}
.right-btn ul li {
	float: right;
	margin-right: 4px;
	position: relative;
	width: 21px;
	height: 21px;
	cursor: pointer;
	padding: 1px 0 0 0;
}
.right-btn ul li img {
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 90;
}
.right-btn ul li.on {
	border: 1px solid #f1a661;
	background: #f1e1d0;
	padding: 0px;
}
.icon-title {
	background: url(../images/home_content.png) 0 -85px repeat-x;
	border-left: 1px solid #dbd9d9;
	_width: 120px;
}
.icon-table {
	margin-top: 1px;
	width: 200px;
	_overflow: hidden;
}
.ico-tab {
	margin-top: 1px;
	width: 200px;
	_overflow: hidden;
}
.caption .ico-tab li {
	width: 70px;
	height: 25px;
	margin: 1px 0 0 0;
	text-align: left;
	white-space: nowrap;
	float: right;
	line-height: 25px;
}
.caption .ico-tab li.on {
	background: transparent url('../images/index/ico_tab_bg.png') no-repeat 0 0;
	border: 0;
	color: #c74245;
	font-weight: bold;
}
.ico-tab li div {
	border: 0;
	margin: 1px 0 0 2px;
	padding: 0;
	float: left;
}
.ico-tab li .ico_map {
	background: transparent url('../images/index/ico_tab_bg.png') no-repeat 0 -61px;
	width: 20px;
	height: 24px;
	margin:0 0 0 4px;
	_margin:0 0 0 2px;
	padding:0;
}
.ico-tab li .ico_table {
	background: transparent url('../images/index/ico_tab_bg.png') no-repeat 0 -34px;
	width: 20px;
	height: 24px;
	margin:0 0 0 4px;
	_margin:0 0 0 2px;
	padding:0;
}
.search-div {
	border-bottom: 1px solid #e0d2d2;
	background: url(../images/search-bg.png) 0 bottom repeat-x #d8d3d3;
	padding: 0 6px;
}
.search-div ul {
	clear: both;
	height: 32px;
}
.search-div ul li {
	float: left;
	margin: 0 5px;
}
.work-div {
	margin: 12px;
}
.work-div .half .left {
	float: left;
	width: 48.5%;
}
.work-div .half .right {
	float: right;
	width: 48.5%;
	margin-right: 5px;
}
.left_60 {
	float: left;
	width: 59.5%;
}
.right_40 {
	float: right;
	width: 39.5%;
	margin-right: 5px;
}
.clr {
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	border: none;
	clear: both;
	margin: 0;
	padding: 0;
}
.divide {
	height: 8px;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	border: none;
	margin: 0;
	padding: 0;
	clear: both;
}
.item {
	
}
.item .caption {
	height: 28px;
	line-height: 28px;
}
.swit-up {
	float: right;
	height: 28px;
	width: 20px;
	background: url(../images/icon/tbl-up.png) 0 center no-repeat;
}
.swit-down {
	float: right;
	height: 28px;
	width: 20px;
	background: url(../images/icon/tbl-down.png) 0 center no-repeat;
}
.swit-up2 {
	float: right;
	height: 100%;
	width: 20px;
	background: url(../images/icon/tbl-up.png) 0 center no-repeat;
}
.swit-down2 {
	float: right;
	height: 100%;
	width: 20px;
	background: url(../images/icon/tbl-down.png) 0 center no-repeat;
}
.item .content {
	padding: 8px 0 8px 8px ;
	color: #666;
}
.item .caption span {
	display: block;
	float: left;
	text-indent: 16px;
}
.item .content100 {
	padding: 0px;
	color: #666;
}
.p1 .caption {
	background: url(../images/home_content.png) 0 -172px repeat-x;
}
.p2 .caption {
	background: url(../images/home_content.png) 0 -112px repeat-x;
}
.p1 .caption span {
	color: #000;
	font-weight: bold;
	background: url(../images/home_content.png) 0 -202px no-repeat;
}
.p2 .caption span {
	color: #000;
	font-weight: bold;
	background: url(../images/home_content.png) 0 -142px no-repeat;
}
.p3 .caption {
	background: url(../images/home_content.png) 0 -424px repeat-x;
}
.p3 .caption span {
	color: #c90000;
	font-weight: bold;
	background: url(../images/home_content.png) 0 -392px no-repeat;
}
.item span.logo1 {
	text-indent: 24px;
	background: url(../images/icon/logo1.png) 4px center no-repeat;
}
.item span.logo2 {
	text-indent: 24px;
	background: url(../images/icon/logo2.png) 4px center no-repeat;
}
.item span.logo3 {
	text-indent: 24px;
	background: url(../images/icon/logo3.png) 4px center no-repeat;
}
.pic-title {
	padding: 4px;
	border: 1px solid #c6c6c6;
	border-bottom: none;
}
.pic-bottom {
	padding: 4px;
	border: 1px solid #c6c6c6;
	border-top: none;
}
.pic-content {
	border: 1px solid #c6c6c6;
}
.pic-title b {
	margin-left: 8px;
}
.pic-title a {
	color: #333;
	padding: 0 4px;
	margin-left: 2px;
}
.pic-title a.on {
	color: #fff;
	background: #666;
}
/* .table-normal {
	border-collapse: separate;
	border-right:1px solid #F9C9D1;
} */
.table-normal {
	border-collapse: separate;
	border-right:1px solid #cebb9e;
}
.table-normal th, .table-normal td {
	height: 30px;
	line-height: 30px;
	padding: 0 4px;
}
/* .table-normal th {
	background: #efefef;
	color: #333333;
	text-align: center;
	border-top: 1px solid #F9C9D1;
	border-left:1px solid #F9C9D1;

} */
.table-normal th {
	background: #ecd8c7;
	color: #333333;
	text-align: center;
	border-top: 1px solid #cebb9e;
	border-left:1px solid #cebb9e;

}
/* .table-normal td {
	background: #FFFFFF;
	color: #993333;
	text-align: right;
	border-top: 1px solid #F9C9D1;
	border-left:1px solid #F9C9D1;
	white-space:nowrap;
	word-break:keep-all;
	
	
} */
.table-normal td {
	background: #FFFFFF;
	color: #993333;
	text-align: right;
	border-top: 1px solid #cebb9e;
	border-left:1px solid #cebb9e;
	white-space:nowrap;
	word-break:keep-all;
}
.table-normal td.col1{
	
}
.table-normal td.col1 span{
	padding-right:80px;
}
.table-normal td a {
	cursor: pointer;
	color: #BA0C0C;
	text-decoration: underline;
	
}
/*.table-normal td a:link {
	color: #BA0C0C;
	text-decoration: underline;
}
.table-normal td a:hover {color: #BA0C0C;
	text-decoration: underline;
}
.table-normal td a:active {color: #BA0C0C;
	text-decoration: underline;
}
.table-normal td a:visited {color: #BA0C0C;
	text-decoration: underline;
}*/

.table-normal td a.sp01 {
	color: #BA0C0C;
	text-decoration: underline;
	font-weight: normal;
}
.table-normal td a.sp02 {
	color: #000;
	text-decoration: underline;
	font-weight: normal;
}
.table-normal tr.spec td {
	background: #FFFFFF;
}
.table-normal tr.highlight td {
	background: #FFFDE6;
}
.table-normal tr.switch td {
	background: url(../images/home_content.png) 0 -427px repeat-x;
	text-align: left;
	font-weight: bold;
	cursor: pointer;
}
.table-normal tr td.highlight {
	background: #efefef;
	color: #777;
}
.table-normal tr.hover td {
	background-color: #efe3e3;
}
.table-normal tr.hover td tr td {
	background: #fff;
}
.table-normal tr.hover td tr.hover td {
	background: #efe3e3;
}
.table-line {
	border-left: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #999;
}
.table-line th, .table-line td {
	border-left: 1px solid #F9C9D1;
}
.table-in {
	border: 1px solid #ccc;
}
.table-in th {
	border: none;
	background: #fff;
	color: #000;
}
.table-in td {
	border: none;
	border-top: 1px dashed #eaeaea;
	background: #fff;
	color: #000;
}
.table-dot th, .table-dot td {
	border-bottom: 1px dashed #eaeaea;
}
.pages {
	color: #777;
	text-align: right;
	padding: 4px;
	background: #fafafa;
	margin: 1px 0;
	position: relative;
}
.pages a {
	color: #777;
	padding: 0px 6px;
	margin: 0 6px;
	border: 1px solid #ccc;
}
.pages a:hover {
	color: #fff;
	background: #666;
	border: 1px solid #666;
}
.pages input {
	border: 1px solid #999;
	width: 24px;
	margin: 0 4px;
}
.pages div.select-config {
	position: absolute;
	background: #FEFCE7;
	border: 1px solid #b0b0b0;
	right: 0;
	bottom: 0;
	width: 200px;
	padding-top: 4px;
	_right: 6px;
	_bottom: 216px;
	display: none;
}
.pages .select-config table td {
	padding: 2px;
	text-align: left;
}
.pages .select-config input {
	border: none;
}
.align-c {
	text-align: center;
	padding: 6px;
}
.align-l {
	text-align: left;
	padding: 6px;
}
button {
	background: url(../images/home_content.png) no-repeat;
	border: none;
	margin: 5px;
}
.btn-normal {
	width: 81px;
	height: 23px;
	line-height: 23px;
	color: #bb0500;
	font-weight: bold;
	background: url(../images/home_content.png) no-repeat 0 -258px;
	border: none;
	margin: 5px;
}
.btn-long {
	width: 160px;
	height: 26px;
	line-height: 26px;
	color: #bb0500;
	font-weight: bold;
	background-position: 0 -287px;
}
.btn-group {
	width: 32px;
}
.btn-search {
	width: 60px;
	height: 22px;
	line-height: 22px;
	 cursor: pointer;
	background: url(../images/home_content.png) 0 -364px no-repeat;
	border: none;
}
.search-div ul li .btn-search {
	margin: 3px 0 0 0;
}
.datetxt {
	height: 23px;
	line-height: 23px;
	background: url(../images/home_content.png) 0 -314px no-repeat;
	border: none;
}
.search-div ul li .datetxt {
	float: left;
	margin: 3px 0 0 0;
}
.ipt-txt {
	height: 19px;
	line-height: 19px;
	border: 1px solid #b1b0b0;
	background: #fafafa;
	width: 120px;
}
.search-div ul li .ipt-txt {
	float: left;
	margin: 3px 0 0 0;
	background: url(../images/home_content.png) 0 -314px no-repeat;
}
img.ui-datepicker-trigger {
	margin: 3px 0 0 0;
	_margin-left: -3px;
}
.date-out {
}
.date-out .datetxt {
	float: left;
	margin: 3px 0 0 0;
}
.field {
	border: 1px solid #ddd;
	padding: 6px;
}
.field legend {
	color: #333;
}
.UI_select {
	min-width: 100px;
	width: auto;
	_width: 100px;
	height: 23px;
	position: relative;
	line-height: 19px;
	font-size: 12px;
	background: url(../images/home_content.png) 0 -314px no-repeat;
}
.search-div ul li .UI_select {
	margin-top: 3px;
}
.UI_select ul {
	position: absolute;
	display: none;
	top: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #FEFCE7;
	border: 1px solid #b1b0b0;
	list-style: none;
	padding: 4px 0;
	height: auto;
	z-index: 999;
	min-width: 90px;
	width: auto;
}
.UI_select img {
	float: right;
	margin: 1px;
	display: inline;
}
.UI_select_til {
	height: 23px;
	width: 83px;
	padding-right: 17px;
	float: left;
	text-align: center;
	overflow: hidden;
	cursor: default;
	background: url(../images/icon/select-Bg.gif) no-repeat right center;
}
.UI_select ul li {
	min-width: 90px;
	width: auto;
	padding: 0 4px;
	height: 18px;
	line-height: 18px;
	float: none;
	margin: 0;
	cursor: pointer;
	white-space: nowrap;
}
.UI_select ul li.active {
	background-color: #316ac5;
}
.mutiSelect {
	position: relative;
	width: 120px;
	height: 20px;
	position: relative;
	line-height: 20px;
	border: 1px solid #b1b0b0;
	background: #fafafa;
	cursor: pointer;
	z-index: 99;
}
.search-div ul li .mutiSelect {
	margin: 3px 0 0 0;
}
.mutiSelect ul {
	position: absolute;
	top: 20px;
	left: -1px;
	display: none;
	background: #FEFCE7;
	z-index: 99;
	width: 230px;
	border: 1px solid #b1b0b0;
	padding: 4px 0;
	height: auto;
}
.mutiSelect ul li {
	margin-right: 4px;
	height: 20px;
	line-height: 20px;
	width: 165px; 
	overflow: hidden;
}
.mutiSelect .ct {
	overflow: hidden;
	height: 100%;
	width: 100%;
	background: transparent url('../images/icon/mutiSelect_ico.png') no-repeat right 2px;
	text-indent: 5px;
}
.win {
	border: 1px solid #be8c8b;
	width: 480px;
}
.win .caption {
	height: 25px;
	line-height: 25px;
	background: url(../images/index/form-win.png) 0 -32px repeat-x;
	border-bottom: 1px solid #be8c8b;
}
.win .caption span {
	display: block;
	float: left;
	height: 25px;
	line-height: 24px;
	background: url(../images/index/form-win.png) 0 0 no-repeat;
	padding-left: 28px;
	color: #a80400;
	font-weight: bold;
}
.content-in {
	padding: 8px;
}
.win .content iframe {
	width: 100%;
	border: none;
}
.form-normal {
	width: 100%;
	border: none;
}
.form-normal td, .form-normal th {
	padding: 4px;
	border-bottom: 1px dashed #ddd;
}
.form-normal th {
	background: #f4f4f4;
	text-align: right;
	color: #666;
}
.input-s {
	width: 40px;
}
.input-m {
	width: 72px;
}
.notice {
}
.notice img {
	float: left;
	margin: 16px 24px;
}
.notice .txt {
	color: #333;
	font-weight: bold;
	height: 80px;
	line-height: 80px;
}
.notice .btn {
	text-align: center;
	padding: 8px;
	clear: both;
}
.inner-panel .nav-panel {
	float: left;
	width: 200px;
}
.inner-panel .work-content {
	margin: 0 0 0 208px;
	text-align: left;
}
.tree-check {
	width: 188px;
	overflow-x: scroll;
}
ul.pro-bar {
	width: 100%;
}
ul.pro-bar li {
	margin: 8px 0;
	float: left;
	width: 132px;
	height: 24px;
	line-height: 20px;
	color: #666;
	list-style-type: none;
	background: url(../images/index/pro-off.gif) 0 0 no-repeat;
	cursor: pointer;
}
ul.pro-bar li .title {
	font-size: 18px;
	font-weight: bold;
	margin-left: 16px;
	margin-right: 4px;
	color: #888;
}
ul.pro-bar li.on {
	margin: 8px 0;
	float: left;
	width: 132px;
	height: 24px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
	background: url(../images/index/pro-on.gif) 0 0 no-repeat;
}
ul.pro-bar li.by {
	margin: 8px 0;
	float: left;
	width: 132px;
	height: 24px;
	line-height: 20px;
	color: #7f7f7f;
	text-decoration: none;
	background: url(../images/index/pro-by.gif) 0 0 no-repeat;
}
ul.pro-bar li.last {
	margin: 8px 0;
	float: left;
	width: 132px;
	height: 24px;
	line-height: 20px;
	color: #7f7f7f;
	text-decoration: none;
	background: url(../images/index/pro-last.gif) 0 0 no-repeat;
}
ul.pro-bar li.last-on {
	margin: 8px 0;
	float: left;
	width: 132px;
	height: 24px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
	background: url(../images/index/pro-last-on.gif) 0 0 no-repeat;
}
ul.pro-bar li.last-on .title {
	color: #fff;
}
ul.pro-bar li.on .title {
	font-size: 18px;
	font-weight: bold;
	margin-left: 16px;
	margin-right: 4px;
	color: #fff;
}
.out-div {
	overflow-x: scroll;
}
th.tbl-up {
	background: url(../images/icon/tbl-up.png) right center no-repeat #EFEFEF;
}
th.tbl-down {
	background: url(../images/icon/tbl-down.png) right center no-repeat #EFEFEF;
}
.field-div {
	background: url(../images/index/field-bg.png) right bottom repeat-x #fff;
	font-weight: bold;
	color: #333;
	line-height: 16px;
}
.explain {
	background: #f2f2f2 url(../images/index/ico_caption.gif) no-repeat 10px center;
	padding: 8px 5px 5px 25px;
	margin: 1px 0;
	color: #616161;
}
.edge {
	background: #fff;
	padding: 5px;
	border: 1px #e7e7e7 solid;
}
.form-nothing {
	width: 100%;
	border: none;
}
.form-nothing td {
	padding: 4px;
	background: #fafcfc;
	border-bottom: 1px dashed #fff;
}
.form-nothing th {
	text-align: right;
	color: #666;
	padding: 4px;
	width: 150px;
	background: #f6f7f7;
	border-bottom: 1px dashed #fff;
}
/*.form-tree {
	width: 100%;
	border:none;
}
.form-tree th {
	text-align: left;
	color: #666;
	padding: 4px 4px 4px 15px;
	width: 150px;
	background: #f5f5f5 url('../images/index/form_th_bg.gif') repeat-x left top;
	border-right: 1px solid #fff;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
.form-tree td {
	padding: 4px;
	background:#f9fbfb;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #fff;
	background: #fff url('../images/index/form_tree_td_bg.gif') repeat-x left top;
}*/
.form-select {
	width: 100%;
	border: none;
	background: #fff url('../images/index/form-select_td_bg.gif') repeat 0 0px;
	border-top: 1px #eaeaea solid;
	border-left: 1px #eaeaea solid;
}
.form-select td {
	padding: 0;
	border-bottom: 1px #eaeaea solid;
	border-right: 1px #eaeaea solid;
}
.form-select th {
	text-align: left;
	color: #666;
	width: 150px;
	padding: 0 3px;
	background: #fff;
	border-bottom: 1px #eaeaea solid;
	border-right: 1px #eaeaea solid;
	height: 24px;
}
ul.ul-input {
	width: 100%;
	margin: 0;
	padding: 0;
}
.ul-input li {
	width: 200px;
	float: left;
	height: 25px;
	padding: 0 5px;
	margin: 0;
}
/*
.form-nothing {
	width: 100%;
	border:none;
	border-top: 1px dashed #ddd;
}
.form-nothing td {
	padding: 4px;
	border-bottom: 1px dashed #ddd;
}
table.form-nothing th {
    background: #f7f7f7;
	text-align: right;
	color: #666;
	padding: 4px;
	border-bottom: 1px dashed #ddd;
	width:150px;
}
*/
.panel {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
.mytree {
	padding: 0;
	margin: 0;
}
.mytree li {
	float: left;
	display: inline;
	background: #fff url('../images/index/form_tree_bg.gif') repeat-x 0 0;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #fff;
	margin: 0 3px 3px 0;
	width: 24.5%;
}
ul.mytree li h4 {
	text-align: left;
	color: #666;
	padding: 4px 4px 4px 15px;
	border-top: 1px solid #dddddd;
	font-weight: bold;
}
.filter-tiele {
	background: #e0e0e0;
	color: #636363;
	padding: 2px 4px 4px 4px;
	border: 1px #e0e0e0 solid;
}
.filter-tiele b {
	margin: 0 0 0 12px;
}
.map_box {
	padding: 0;
	margin: 0 0 5px 0;
	background: #fcfcfc;
	width: 100%;
}
.map_box .value {
	float: right;
	padding: 0 0 0 3px ;
	margin: 0;
	background: #f6f6f6;
	text-align: center;
	border:1px solid #ccc;
	width:170px
}
.map_box .value p {
	padding: 0;
	margin: 0;
	line-height: 32px;
	font-weight: bold;
	text-align: center;
}
.map_box .value table {
	line-height: 24px;
}
.map_box .value thead {
	background: transparent url('../images/index/mapbox_value_tit.gif') no-repeat 0 6px;
	font-weight: bold;
	color: #636363;
	text-indent: 15px;
	line-height: 28px;
	text-align: left;
}
.map_box .value th {
	text-align: right;
	width: 72px;
	font-weight:normal;
	white-space : normal 
}
.map_box .value td {
	text-align: left;
	font-weight:normal;
	white-space : normal 
}
.map_box .value b.f-red {
	text-decoration: underline;
}
.f-red {
	color: #c74245;
}
.map_box .flash_map {
	float: left;
}
button.but {
	/*background: url(../images/home_content.png) no-repeat;
	border: 1px #d4d4d4 solid;
	margin: 5px;
	width: auto;
	height: 24px;
	text-align: center;*/
	background: url(../images/home_content.png) no-repeat;
	border: 1px #d4d4d4 solid;
	margin: 5px;
	width: auto;
	height: 22px;
	text-align: center;
	line-height: 20px;
	color: #a04c4a;
	cursor: pointer;
}
td.40px {
 width: 40px;
 text-align: center;
}

/*报表下钻----start-----*/
a.sub {
	background: transparent url('../images/icon/span_sub_on.gif') no-repeat 0 0px;
	padding-left:22px;
	*padding:0 0 0 22px;
	_padding-left:22px;
	/**height: 22px;**/
	/* height: 30px; */
}
span.sub {
	background: transparent url('../images/icon/a_sub_o.png') no-repeat 0 0px;
	padding-left:22px;
	*padding:0 0 0 22px;
	_padding-left:22px;
	/**height: 22px;**/
	/* height: 30px; */
}
a:link.sub {
	color: #993333;
}
a:hover.sub {
	color: #FF9966;
}
a.sub_on {
	background: transparent url('../images/icon/span_sub.gif') no-repeat 0 0px;
	padding-left:22px;
	*padding:0 0 0 22px;
	_padding-left:22px;
	/**height: 22px;**/
	/* height: 30px; */
}
span.sub_on {
	background: transparent url('../images/icon/a_sub.png') no-repeat 0 0px;
	padding-left:22px;
	*padding:0 0 0 22px;
	_padding-left:22px;
	/**height: 22px;
	padding-bottom: 5px;**/
}
a:hover.sub_on {
	color: #FF9966;
}
a.root {
	background: transparent url('../images/icon/span_root.gif') no-repeat 0 -1px;
	padding-left: 15px;
}
span.root {
	background: transparent url('../images/icon/a_root.png') no-repeat 0 0px;
	padding-left: 15px;
}
a:hover.root {
	color: #FF9966;
}
/*报表下钻----end-----*/


/* a.sub {
	background: transparent url('../images/icon/a_sub_o.png') no-repeat 0 0px;
	padding-left:22px;
	*padding:0 0 0 22px;
	_padding-left:22px;
	height: 22px;
	
}
a:link.sub {
	color: #fff;
}
a:hover.sub {
	color: #FF9966;
}
a.sub_on {
	background: transparent url('../images/icon/a_sub.png') no-repeat 0 2px;
	padding-left:22px;
	*padding:0 0 0 22px;
	_padding-left:22px;
	height: 22px;
}
a:hover.sub_on {
	color: #FF9966;
}
a.root {
	background: transparent url('../images/icon/a_root.png') no-repeat 0 3px;
	padding-left: 15px;
}
a:hover.root {
	color: #FF9966;
} */
.new_list {
	width: 100%;
	padding: 0;
	margin: 0;
}
.new_list ul {
	padding: 0;
	margin: 0;
}
.new_list li {
	height: 24px;
	background: #fbfbfb url('../images/index/ico_caption.gif') no-repeat 3px 7px;
	border-bottom: 1px #eaeaea solid;
	border-left: 2px #fff solid;
	line-height: 24px;
	text-indent: 15px;
}
.new_list a:link {
	color: #ab8182;
}
.new_list a:hover {
	color: #b10400;
	text-decoration: underline;
}
.new_list a:active {
	color: #ab8182;
}
.new_list a:visited {
	color: #ab8182;
}
input.ico_more {
	width: 37px;
	height: 13px;
	background: transparent url('../images/icon/ico_more.png') no-repeat 0 0;
	cursor: pointer;
	border: 0;
	right: 10px;
}
.overflow_x {
	overflow: hidden;
	overflow-x: auto;
}
.overflow_y {
	overflow-y: hidden;
	overflow: auto;
}

.flow_h250 {
	width: 100%;
	height: 250px;
}
.flow_h340 {
	width: 100%;
	height: 250px;
}
.pic-title .right-btn {
	float: right;
	margin-top: -23px;
}
.open_div {
	height:345px;
	border-bottom:1px solid #ccc
}
.table-width-auto {
	overflow: auto;
	margin-top: 0px;
	*height:auto; /* 锟斤拷ie7锟斤拷效 */
	_height:auto;/* 锟斤拷ie6锟斤拷效 */
	_width:95%;
	
}
.noborder td{ border:0;
border-bottom:1px solid #eaeaea}

.favortite_button_img {
	float:right;
	margin-top:4;
	width: 110px;
	height: 21px;
	line-height: 23px;
	color: #bb0500;
	font-weight: bold;
	background: url(../../../nresources/default/images/home_content.png) no-repeat 0 -395px;
	border: none;
	cursor: pointer;
}

.rows{
	width: 81px;
	text-align:center;
	height: 53px;
	color: #bb0500;
	font-weight: bold;
	background: url(../images/row4.jpg) no-repeat;
	border: none;
	margin: 0px;
}


.rows3{
	width: 81px;
	text-align:center;
	height: 53px;
	color: #bb0500;
	font-weight: bold;
	background: url(../images/row2.jpg) no-repeat;
	border: none;
	margin: 0px;
}