body, h1, div, li, ul, img, span, p ,h1,h2,h3,h4,h5,h6,button{
	margin: 0;
	padding: 0;
	font-weight: normal;
}
html {
	position: static;
}
body,html{}
li {
	list-style-type: none;
}
img {
	border: none;
}
/* body {
	font-family: Verdana,宋体;
	font-size: 12px;
	background: #fff;
} */
h1, h2, h3, h4, h5, h6 {
	font-size: 12px;
}
dt, dd {
	margin-left: 0;
}
a {
	text-decoration: none;
	font-weight: normal;
}