
.x-layout-collapsed-north {
    background-image: url("../images/top-collapse-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
}
#west-panel-xcollapsed {
    background-image: url("../images/left-collapse-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
}
/**修改**/
body{
	margin:0;
	padding:0;
	font-family:Arial,"微软雅黑",'Simsun',sans-serif ,SimSun, "宋体", Heiti, "黑体";
	font-size:62.5%;
	background-color:#fff;
	overflow-x:hidden;
	position:relative;
	min-width:600px;
	color:#717171;}
/**新增start**/
li{list-style-type:none;}
img{border:none;}
a{text-decoration:none;color:#4095ce;}
a:visited{}a:hover{text-decoration:none; color:#fa830b;}
a:active{}{list-style:none}
p,h1,h2,h3,h4,h5,h6,form,input,textarea,select,button,fieldset,legend,img,ul,ol,li,dl,dt,dd,th,td,pre,blockquote{margin:0;padding:0;}
address, cite, dfn, em, var {
    font-style: normal;
}

.clear{clear:both;}.fl{float:left;}.fr{float:right;}
.clear_a:after{content:'\20';display:block;clear:both;}
.cl:after, .clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}

.ml1{margin-left:1px;}
.mt5{margin-top:5px;}

i{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
table{border:0; cellspacing:0; border-collapse:collapse;}
/**新增end**/
/**新增**/
#container {
	font-size:1.2em;
	width:100%;
}
.clear{
	clear:both;
	margin:0;
	padding:0;
	border:0;
}
div button{
	border:none;
	cursor:pointer;
	width:16px;
	height:16px;
}
/**修改**/
#app-header{
	background:url(../theme/images/head-bg.png) repeat-x;
	height:86px;
	position:relative;
}
/**修改**/
#header-left{
	background:url(../theme/images/logo.png) no-repeat;
	width:230px;
	height:66px;
	position:absolute;
	top:13px;
	left:10px;
}
#header-main{
	float:left;
	margin-left:6px;
}
/**修改**/
#header-right{
	*width:150px;
	float:right;
	margin-top:10px;
	*margin-top:15px;
}
/**新增start**/
#header-right ul li{
	/*float:left;*/
	margin-right:15px;}
#header-right ul li a{
	color:#717171;}
#header-right ul li a:hover{
	color:#fa830b;}
#logout-icon{
	background:url(../theme/images/icon.png);
	background-position:-80px 0;
	display:block;
	float:left;
	margin-right:4px;
	width:13px;
	height:14px;}
#editPsw-icon	{
	background:url(../theme/images/icon.png);
	background-position:-100px 0;
	display:block;
	float:left;
	margin-right:4px;
	width:14px;
	height:14px;}
/**新增end**/	
/* #setting{
	float:right;
	width:180px;
	padding-top:8px;
	padding-right:6px;
} */
#welcomeMsg{
	float:left;
	/*width:290px;*/
	padding-top:6px;
}
#currentTime{
	float:left;
	width:180px;
	padding-top:12px;
}
/**新增start**/
#navi{
	position:absolute;
	top:12px;
	left:250px;
	font-size:1.1em;}	
#navi ul li{
	float:left;
	margin-right:2px;}
#navi ul li a{
	display:block;
	background:url(../theme/images/navi-default.png);
	width:95px;
	height:69px;
	color:#979797;
	text-align:center;}
/* #navi ul li a.select,#navi ul li a:hover{
	background:url(../images/navi-select.png);
	color:#fff;} */
.navi-01,.navi-02,.navi-03,.navi-04,.navi-05,.navi-06,.navi-07,.navi-08{
	background:url(../theme/images/icon.png);
	display:block;
	width:40px;
	height:40px;
	margin-left:27.5px;
	*margin-left:2px;
	position:relative;
	top:2px;}	
.navi-01{
	background-position:0 0;}
.navi-02{
	background-position:0 -40px;}
.navi-03{
	background-position:0 -80px;}
.navi-04{
	background-position:0 -120px;}
.navi-05{
	background: url("../theme/images/5.png");
}
.navi-06{
	background: url("../theme/images/4.png");
}
.navi-07{
	background: url("../theme/images/05_icon_1.png");
	}
.navi-08{
	background-position:0 -160px;}
#navi ul li a.select .navi-01,#navi ul li a:hover .navi-01{
	background-position:-40px 0;}
#navi ul li a.select .navi-02,#navi ul li a:hover .navi-02{
	background-position:-40px -40px;}
#navi ul li a.select .navi-03,#navi ul li a:hover .navi-03{
	background-position:-40px -80px;}
#navi ul li a.select .navi-04,#navi ul li a:hover .navi-04{
	background-position:-40px -120px;}
#navi ul li a.select .navi-05,#navi ul li a:hover .navi-05{
	background: url("../theme/images/-5.png");
	}
#navi ul li a.select .navi-06,#navi ul li a:hover .navi-06{
	background: url("../theme/images/-4.png");
	}
#navi ul li a.select .navi-07,#navi ul li a:hover .navi-07{
	background: url("../theme/images/05_icon_2.png");
	}
#navi ul li a.select .navi-08,#navi ul li a:hover .navi-08{
	background-position:-40px -160px;}

/**新增end**/

/**
#header-topnav{
	display:inline;
	padding-top:4px;
}
#header-topnav .activeli{
	background:url('../images/header-li-chose.png') no-repeat;
	display:block;
	float:left;
}
#header-topnav li{
	background:url('../images/header-li.png') no-repeat;
}
#header-topnav li a{
	display:block;
	text-align:left;
	text-indent:32px;
	height:30px;
	font-size:14px;
	font-weight:bold;
	line-height:30px;
	position:relative;
	text-decoration:none;
	width:120px;
}
#header-topnav .commonli{
	display:block;
	float:left;
	color:#4B6888;
}
**/
#header-topnav .commonli a{
	color:#313131;
}
/**修改**/
#header-topnav .activeli a{
	background:url(../theme/images/navi-select.png);
	color:#fff;
}

.key{ 
    background:url(../../images/key.gif)  no-repeat!important; 
}

.contact {
    background-image: url(../images/contact.png) !important;
}
.onlineUser {
    background-image: url( ../images/online.gif ) !important;
}
.logout {
    background-image: url( ../images/logout.png ) !important;
}
.expand {
    background-image: url(../images/expand-all.gif) !important;
}
.collapse {
    background-image: url(../images/collapse-all.gif) !important;
}
.computer {
    background-image: url(../images/computer.png) !important;
}
.indexTip {
    background-image: url(../images/indexTip.png) !important;
}
.closeOther {
    background-image: url(../images/closeOther.png) !important;
}
.close {
    background-image: url(../images/close.png) !important;
}
.search-bg {
    background-image: url( ../images/search-bg.png ) !important;
}
.menu {
    background-image: url(../images/menu.png) !important;
}

.refresh {
    background-image: url( ../images/refresh.png ) !important;
}
.read_tip{
    background-image: url( ../images/readonly.png ) !important;
    font-size:large;
    font-style: italic;
    color:red;
}

.detail_field{
    background-image: url( ../images/readonly.png ) !important;
}

.attr{
        background: no-repeat 1px 2px;
        background-color:#FFFFFF;
        font-weight:bold;
        color:#000033;
}
.print {
    background-image: url( ../images/print.png ) !important;
}
.detail {
    background-image: url( ../images/detail.png ) !important;
}
.save {
    background-image: url( ../images/save.png ) !important;
}
.cancel {
    background-image: url( ../images/cancel.png ) !important;
}
.remove {
    background-image: url( ../images/remove.png ) !important;
}


        .j_username{ background:url(../../images/j_username.gif)  no-repeat!important;padding:2px 0 2px 18px; }
        .j_password{ background:url(../../images/j_password.gif)  no-repeat!important;padding:2px 0 2px 18px;  }
        .j_rand{ background:url(../../images/j_rand.gif)  no-repeat!important;padding:2px 0 2px 18px;  }

        .save {
            background-image: url(../../images/save.png ) !important;
        }
        .reset {
            background-image: url(../../images/reset.png ) !important;
        }