

.security {
	background-image: url(../images/module/systemManager/security.png)
		!important;
}

.user {
	background-image: url(../images/module/systemManager/system/user.png)
		!important;
}

.userGroup {
	background-image:
		url(../images/module/systemManager/security/userGroup.png) !important;
}

.role {
	background-image: url(../images/module/systemManager/system/role.png)
		!important;
}

.org {
	background-image: url(../images/module/systemManager/system/org.png)
		!important;
}

.position {
	background-image:
		url(../images/module/systemManager/security/position.png) !important;
}

.monitor {
	background-image: url(../images/module/systemManager/monitor.png)
		!important;
}

.userLogin {
	background-image:
		url(../images/module/systemManager/monitor/userLogin.png) !important;
}

.runingTime {
	background-image:
		url(../images/module/systemManager/monitor/runingTime.png) !important;
}

.memoryState {
	background-image:
		url(../images/module/systemManager/monitor/memoryState.png) !important;
}

.processTime {
	background-image:
		url(../images/module/systemManager/monitor/processTime.png) !important;
}

.backupLog {
	background-image:
		url(../images/module/systemManager/monitor/backupLog.png) !important;
}

.indexLog {
	background-image:
		url(../images/module/systemManager/monitor/indexLog.png) !important;
}

.log {
	background-image: url(../images/module/systemManager/log.png) !important;
}

.operateLog {
	background-image: url(../images/module/systemManager/log/operateLog.png)
		!important;
}

.system {
	background-image: url(../images/module/systemManager/system.png)
		!important;
}

.backup {
	background-image: url(../images/module/systemManager/system/backup.png)
		!important;
}

.module {
	background-image: url(../images/module/systemManager/module.png)
		!important;
}

.editModule {
	background-image:
		url(../images/module/systemManager/system/editModule.png) !important;
}

.editCommand {
	background-image:
		url(../images/module/systemManager/module/editCommand.png) !important;
}

.dictionary {
	background-image: url(../images/module/systemManager/dictionary.png)
		!important;
}

.dicItem {
	background-image:
		url(../images/module/systemManager/dictionary/dicItem.png) !important;
}

.systemManager {
	background-image: url(../images/module/systemManager.png) !important;
}

.channelManagement {
	background-image: url(../images/module/systemManager/module/editCommand.png) !important;
}


.taskManagement {
	background-image: url(../images/portal/taskManagement.png) !important;
}
.taskSchedule {
	background-image: url(../images/portal/taskSchedule.png) !important;
}
.myTask {
	background-image: url(../images/portal/myTask.png) !important;
}

.performanceAppraisal {
	background-image: url(../images/portal/performanceAppraisal.png) !important;
}
.khjl {
	background-image: url(../images/portal/khjl.png) !important;
}
.statementAnalysis {
	background-image: url(../images/portal/statementAnalysis.png) !important;
}
.ydkdtb {
	background-image: url(../images/portal/ydkdtb.png) !important;
}
.fmqd {
	background-image: url(../images/portal/fmqd.png) !important;
}
.qdgl {
	background-image: url(../images/portal/qdgl.png) !important;
}
.workflowManager {
	background-image: url(../images/portal/workflowManager.png) !important;
}
.znhtgl {
	background-image: url(../images/portal/znhtgl.png) !important;
}
.qdxjgl {
	background-image: url(../images/portal/qdxjgl.png) !important;
}
.yjgl {
	background-image: url(../images/portal/yjgl.png) !important;
}
.zypk {
	background-image: url(../images/portal/zypk.png) !important;
}
.resourceManager {
	background-image: url(../images/portal/resourceManager.png) !important;
}
.rlzy {
	background-image: url(../images/portal/rlzy.png) !important;
}
.wlzy {
	background-image: url(../images/portal/wlzy.png) !important;
}
.cbzy {
	background-image: url(../images/portal/cbzy.png) !important;
}
.yjjk {
	background-image: url(../images/portal/yjjk.png) !important;
}
.xsyj {
	background-image: url(../images/portal/xsyj.png) !important;
}
.zyjk {
	background-image: url(../images/portal/zyjk.png) !important;
}
.cbjk {
	background-image: url(../images/portal/cbjk.png) !important;
}
.orderManager {
	background-image: url(../images/portal/orderManager.png) !important;
}
.inspection {
	background-image: url(../images/portal/inspection.png) !important;
}


