.b_foot {
    padding: 1px 3px 0px 4px;  
    background: url("../images/btnRed.png") no-repeat scroll ;  
	height: 21px;
	border: 0px;
	margin-right: 10px;
	line-height: 21px; 
	cursor: pointer;
}

/*智能匹配*/
.b_foot2 {
    padding: 1px 1px 0px 2px;  
    background: url("../images/btnRed.png") no-repeat scroll ;  
	height: 21px;
	border: 0px;
	margin-right: 10px;
	line-height: 21px; 
	cursor: pointer;
}

/*
.b_foot {
	background: url(../images/form_bg.png) no-repeat scroll 
	-94px -23px;
	width: 55px;
	height: 26px;
	border: 0px;
	margin-right: 10px;
	line-height: 24px; 
	cursor: pointer;
}*/

.b_foot_PDF {
	background: url(../images/form_bg.png) no-repeat scroll 
   -66px -106px;
	width: 85px;
	height: 24px;
	border: 0px;
	margin-right: 10px;
	line-height: 24px; 
	cursor: pointer;
}

.b_foot_excel {
	background: url(../images/form_bg.png) no-repeat scroll 
    -66px -106px;
	width: 85px;
	height: 24px;
	border: 0px;
	margin-right: 10px;
	line-height: 24px; 
	cursor: pointer;
}

.b_foot_pic {
	background: url(../images/form_bg.png) no-repeat scroll 
    -66px -106px;
	width: 85px;
	height: 24px;
	border: 0px;
	margin-right: 10px;
	line-height: 24px; 
	cursor: pointer;
}

.b_foot_callall {
	background: url(../images/form_bg.png) no-repeat scroll 
    -66px -106px;
	width: 85px;
	height: 24px;
	border: 0px;
	margin-right: 10px;
	line-height: 24px; 
	cursor: pointer;
}

.b_foot_hover {
	background: url(../images/form_bg.png) no-repeat scroll 
    -94px -47px;
	width: 56px;
	height: 24px;
	border: 0px;
	margin-right: 10px;
	line-height: 24px;
	cursor: pointer;
	color: #A64200;
}
.b_foot_visited {
	background: url(../images/form_bg.png) no-repeat scroll 
    -94px -71px;
	width: 56px;
	height: 24px;
	border: 0px;
	margin-right: 10px;
	line-height: 24px;
	cursor: pointer;
	color: #000;
}
.b_foot_long {
	background: url(../images/form_bg.png) no-repeat scroll 
    -66px -106px;
	width: 84px;
	height: 24px;
	border: 0px;
	margin-right: 10px;
	line-height: 24px;
	cursor: pointer;
}
.b_foot_long_hover {
	background: url(../images/form_bg.png) no-repeat scroll 
    -66px -130px;
	width: 84px;
	height: 24px;
	border: 0px;
	margin-right: 10px;
	line-height: 24px;
	cursor: pointer;
	color: #A64200;
}

.b_foot_long_visited {
	background: url(../images/form_bg.png) no-repeat scroll 
    -66px -154px;
	width: 84px;
	height: 24px;
	border: 0px;
	margin-right: 10px;
	line-height: 24px;
	cursor: pointer;
	color: #000;
}

.b_text {
	background: url(../images/form_bg.png) repeat-x 0 -565px;
	border: 1px solid #a5c7e1;
	height: 18px;
	cursor: pointer;
	line-height:16px;
}


.text {
	background: transparent none repeat scroll 0 0;
	color: #000;
	height: 14px;
	left: -1px;
	position: absolute;
	top: -1px;
}

.title {
	height: 100%;
	background: url(../images/window-caption-title.jpg) no-repeat scroll right top;
	float: left;
	padding-right: 28px;
}

#dataList tr td{
 padding-left:2px;
 padding-right:2px;
 word-break:break-all; /*支持IE，chrome，FF不支持 强制文字换行*/
 word-wrap:break-word;/*支持IE，chrome，FF*/ 
}

/*通用录入平台 excel导出按钮*/
.ana-button {
    background: url(../images/home_content1.png) no-repeat;
	border: 1px #d4d4d4 solid;
	margin: 5px;
	width: auto;
	height: 22px;
	text-align: center;
	line-height:20px;
	color:#a04c4a;
	cursor:pointer;
}

.fn-option,.fn-option span{background:url(../images/icon_bg.png);}
.fn-option{
	font-family:"微软雅黑";
	background-position:0 0;
    display: inline-block;
    padding-left:8px;
	text-decoration:none;
	color:#525252;
	height:22px;
	line-height:22px; 
}
.fn-option span{display:inline-block;height:22px; background-position:right -22px; padding-right:8px;}
.fn-option b {
	background:url(../images/icons-fn.png) 0 0 no-repeat;
    display: inline-block;
    height: 16px;
    margin-right:2px;
    vertical-align: middle;
    width: 16px;
    text-decoration:none;
    
}
.fn-option .log-up{ background-position:-60px 0;}
.fn-option .log-down{ background-position:3px 0;}
.fn-option .log-ru{ background-position:-92px 0;}
.fn-option .log-search{ background-position:-30px 0;}
.fn-option .log-refresh{ background-position:-120px 0;}