.page-title {
	border-top: 1px solid #c4a5a2;
	border-bottom: 1px solid #c7aaa7;
	background: url(../images/home_content.png) 0 0 repeat-x;
	height: 25px;
	line-height: 25px;
}
.page-title span {
	display: block;
	float: left;
	color: #9c8485;
	background: url(../images/home_content.png) 0 -27px no-repeat;
	text-indent: 20px;
}
.page-title span b {
	color: #bb0500;
	font-weight: normal;
}
.right-btn {

	padding: 0 8px 0 12px;
	overflow: hidden;
	position:absolute; right:0;
	bottom:-1px;
}
.right-btn ul {
	border: none;
	height: 21px;
	line-height: 21px;
	margin-top: 1px;
}
.right-btn ul li {
	float: right;
	margin-right: 4px;
	position: relative;
	width: 21px;
	height: 21px;
	cursor: pointer;
	padding: 1px;
}
.right-btn ul li img {
	position: absolute;
	top: 2px;
	left: 2px;
	z-index:90;
}
.right-btn ul li.on {
	border: 1px solid #f1a661;
	background: #f1e1d0;
	padding: 0px;
}
.icon-title {
	background: url(../images/home_content.png) 0 -85px repeat-x;
	border-left: 1px solid #dbd9d9;
	_width: 120px;
}
.icon-table {
	margin-top: 1px;
	_width:;
	_overflow: hidden;
	_z-index:99;
}
.search-div {
	border-bottom: 1px solid #e0d2d2;
	background: url(../images/search-bg.png) 0 bottom repeat-x #fff;
	padding: 0 6px;
}
.search-div ul {
	height: 32px;
}
.search-div .left{ float:left;}
.search-div .right{ float:right;}

.search-div ul li{float:left; margin:5px; line-height:0px;}

.work-div {
/*	margin: 12px;*/
}
.work-div .half .left {
	float: left;
	width: 49.5%;
}
.work-div .half .right {
	float: right;
	width: 49.5%;
}
.work-div .three-seven .three {
	position:absolute; left:0;
	width: 200px;
	_width:29.5%;
}
.nav-panel{ background:#F7F7F7; border:#DCD0D0 solid 1px;}
.work-div .three-seven .seven { padding-left:200px;
_padding-left:0; _margin-left:1%; _width:69.5%; _float:left; _display:inline;
}
.column .left{ float:left;  width:200px;_width:20%;}
.column .center{ padding-left:208px; padding-right:34.5%;_padding:0; _margin-left:1%; _width:44%; _float:left; _display:inline;}
.column .right{ float:right; width:34%;}
.list-style1{ line-height:25px;}
.list-style2 li,.list-style3 li{ border-bottom:#F4F4F4 dashed 1px; line-height:25px;background:url(../images/icon/num-bg.gif) 0 5px no-repeat;  position:relative;}
.list-style2 li span{ font-family:Georgia, "Times New Roman", Times, serif; font-size:18px; color:#FFF; padding-left:5px; padding-right:5px;}
.list-style3 li{background:url(../images/icon/star.gif) 0 5px no-repeat; padding-left:22px;}
.column .left a{ color:#828282;}
.column .left a:hover{ color:#B00F01;}
.caption .more{ font-size:9px;}
a.more:hover{ text-decoration:none;}
.clr {
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	border: none;
	clear: both;
	margin: 0;
	padding: 0;
}
.divide {
	height: 8px;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	border: none;
	margin: 0;
	padding: 0;
}
.item {
}
.item .caption {
	height: 26px;
	line-height: 26px;
	position:relative;
}
.swit-up {
	float: right;
	height: 28px;
	width: 20px;
	background: url(../images/icon/tbl-up.png) 0 center no-repeat;
}
.swit-down {
	float: right;
	height: 28px;
	width: 20px;
	background: url(../images/icon/tbl-down.png) 0 center no-repeat;
}
.swit-up2 {
	float: right;
	height: 100%;
	width: 20px;
	background: url(../images/icon/tbl-up.png) 0 center no-repeat;
}
.swit-down2 {
	float: right;
	height: 100%;
	width: 20px;
	background: url(../images/icon/tbl-down.png) 0 center no-repeat;
}
.item .content {
	padding: 8px;
	color: #666;
	border:#E3E3E3 solid 1px;
	border-top:none;
	overflow:auto;
}
.item .caption span {
	display: block;
	float: left;
	text-indent: 16px;
}
.p1 .caption {
	background: url(../images/home_content.png) 0 -172px repeat-x;
}
.p2 .caption {
	background: url(../images/home_content.png) 0 -112px repeat-x;
}
.p1 .caption span {
	color: #696969;
	font-weight: bold;
	background: url(../images/home_content.png) 0 -202px no-repeat;
}
.p2 .caption span {
	color:#696969;
	font-weight: bold;
	background: url(../images/home_content.png) 0 -142px no-repeat;
}
.p3 .caption {
	background: url(../images/home_content.png) 0 -424px repeat-x;
}
.p3 .caption span {
	color: #000;
	font-weight: bold;
	background: url(../images/home_content.png) 0 -392px no-repeat;
}
.p4 .caption {
	background:#FAFAFA; border:#E4E4E4 solid 1px;
}
.p4 .caption span {
	color: #696969;
	font-weight: bold;
	background:url(../images/icon/p4icon.gif) left center no-repeat;
}
.item span.logo1 {
	text-indent: 24px;
	background: url(../images/icon/logo1.png) 4px center no-repeat;
}
.item span.logo2 {
	text-indent: 24px;
	background: url(../images/icon/logo2.png) 4px center no-repeat;
}
.item span.logo3 {
	text-indent: 24px;
	background: url(../images/icon/logo3.png) 4px center no-repeat;
}
.pic-title {
	padding: 4px;
	border: 1px solid #c6c6c6;
	border-bottom: none;
}
.pic-bottom {
	padding: 4px;
	border: 1px solid #c6c6c6;
	border-top: none;
}
.pic-content {
	border: 1px solid #c6c6c6;
}
.pic-title b {
	margin-left: 8px;
}
.pic-title a {
	color: #333;
	padding: 0 4px;
	margin-left: 2px;
}
.pic-title a.on {
	color: #fff;
	background: #666;
}
.table-normal {
	width: 100%;
}
.table-normal th, .table-normal td {
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
	padding: 0 4px;
}
.table-normal th {
	background: #efefef;
	color:#848484;
	text-align: center;
	border-bottom: 1px solid #DEDEDE;
	background:#EFEFEF url(../images/th-bg.gif) left top;
	height:25px;
	line-height:25px;
	border-top:#DEDEDE solid 1px;
	

}
.table-normal td {
	background: #fff;
	color: #333;
	line-height:23px;
	
	border-bottom: 1px solid #eaeaea;
}
.table-normal .bor-r{ border-right:#DBDBDB solid 1px;}
.table-normal td a {
	color: #BA0C0C;
	text-decoration: underline;
}
.table-normal td a.sp01 {
	color: #BA0C0C;
	text-decoration: underline;
	font-weight: normal;
}
.table-normal td a.sp02 {
	color: #000;
	text-decoration: underline;
	font-weight: normal;
}
.table-normal tr.spec td {
	background: #f6f6f6;
}
.table-normal tr.highlight td {
	background: #FFFDE6;
}
.table-normal tr.switch td {
	background: url(../images/home_content.png) 0 -427px repeat-x;
	text-align: left;
	font-weight: bold;
	cursor: pointer;
}
.table-normal tr td.highlight {
	background: #FFFDE6;
}
.table-normal tr.hover td {
	background-color: #F0F7F7;
}
.table-normal tr.hover td tr td {
	background: #fff;
}
.table-normal tr.hover td tr.hover td {
	background: #F0F7F7;
}
.table-line {
	border-left: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
}
.table-line th, .table-line td {
	border-right: 1px solid #eaeaea;

}
.table-in {
	border: 1px solid #ccc;
}
.table-in th {
	border: none;
	background: #fff;
	color: #000;
}
.table-in td {
	border: none;
	border-top: 1px dashed #eaeaea;
	background: #fff;
	color: #000;

}
.table-dot th, .table-dot td {
	border-bottom: 1px dashed #eaeaea;
}
.calendar{border:#E3E3E3 solid 1px; border-right:none; border-bottom:none; }
.calendar .title{ background:#FAFAFA url(../images/icon/date2.gif) 3px center no-repeat; line-height:20px; color:#686666; border-right:#E3E3E3 solid 1px; }
.calendar .title span{ margin:0 5px;font-weight:bold;}
.calendar td{border:#E3E3E3 solid 1px; border-left:none; border-top:none; width:64px;}
.calendar td.on{ background:#FFFDE6;}
.calendar th{border:#E3E3E3 solid 1px; border-left:none; border-top:none; width:64px; color:#848484;}
.calendar p{
	color:#E2E2E2;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:17px;
	font-weight:bold;
	padding-left:5px;
}
.calendar dl{ float:right; padding-right:5px;}
.calendar th{ background:#F6F6F6; line-height:20px;}
.calendar .weekend{ background:#FAF2F2;}
.calendar .num-green ,.calendar .num-red2 { font-weight:bold;}
.selecter{ text-align:right; padding-right:5px;}
.pages {
	color: #777;
	text-align: right;
	padding: 4px;
	background: #fafafa;
	margin: 1px 0;
	position: relative;
}
.pages a {
	color: #777;
	padding: 0px 6px;
	margin: 0 6px;
	border: 1px solid #ccc;
}
.pages a:hover {
	color: #fff;
	background: #666;
	border: 1px solid #666;
}
.pages input {
	border: 1px solid #999;
	width: 24px;
	margin: 0 4px;
}
.pages div.select-config {
	position: absolute;
	background: #FEFCE7;
	border: 1px solid #b0b0b0;
	right: 0;
	bottom: 0;
	width: 200px;
	padding-top: 4px;
	_right: 6px;
	_bottom: 216px;
	display: none;
}
.pages .select-config table td {
	padding: 2px;
	text-align: left;
}
.pages .select-config input {
	border: none;
}
.align-c {
	text-align: center;
	padding: 6px;
}
.align-l {
	text-align: left;
	padding: 6px;
}
button {
	background: url(../images/home_content.png) no-repeat;
	border: none;
}
.btn-normal {
	width: 81px;
	height: 23px;
	line-height: 23px;
	color: #bb0500;
	font-weight: bold;
	background-position: 0 -258px;
}
.btn-long {
	width: 160px;
	height: 26px;
	line-height: 26px;
	color: #bb0500;
	font-weight: bold;
	background-position: 0 -287px;
}
.btn-group {
	width: 32px;
}
.btn-search {
	width: 60px;
	height: 22px;
	line-height: 22px;
	background: url(../images/home_content.png) 0 -364px no-repeat;
	border: none;
}
.search-div ul li .btn-search {
	margin: 3px 0 0 0;
}
.datetxt {
	height: 23px;
	line-height: 23px;
	background: url(../images/home_content.png) 0 -314px no-repeat;
	border: none;
}
.search-div ul li .datetxt {
	float: left;
	margin: 3px 0 0 0;
}
.ipt-txt {
	height: 19px;
	line-height: 19px;
	border: 1px solid #b1b0b0;
	background: #fafafa;
	width: 120px;
}
.search-div ul li .ipt-txt {
	float: left;
	margin: 3px 0 0 0;
}
img.ui-datepicker-trigger {
	margin: 3px 0 0 0;
	_margin-left: -3px;
}
.date-out {
}
.date-out .datetxt {
	float: left;
	margin: 3px 0 0 0;
}
.field {
	border: 1px solid #E3E3E3;
	padding: 6px;* padding:6px;
	position:relative;
}
.field .edit{position: absolute;
    right: 15px;
    top: -16px;_top:0px;}
.right-btn .edit{ float:left; margin-top:3px;}
.right-btn .edit a { border:#FAFAFA solid 1px;}
.edit a:hover{ background:#FFFDE6; border:#E3E3E3 solid 1px;}
.dater{line-height:20px; margin-top:4px; margin-right:8px;background:url(../images/icon/date1.gif) 5px center no-repeat; padding-left:30px; display:block; float:left;width:120px; height:20px; border:#FAFAFA solid 1px; color:#686666; cursor:text;}
.dater input{width:120px; border:none; background:transparent; padding-top:2px; color:#686666; font-family:Verdana, SimSun; font-weight:bold;}
a.dater:hover{ background:#FFFDE6 url(../images/icon/date2.gif) 5px center no-repeat; border:#E3E3E3 solid 1px; text-decoration:none;}
.field legend {
	color: #696969; font-weight:bold; background:url(../images/icon/w.gif) right center no-repeat; padding-right:15px; text-indent:3px;*text-indent:0px;
}
.UI_select{width:100px; height:23px; position:relative; line-height:19px; font-size:12px; background: url(../images/home_content.png) 0 -314px no-repeat;}
.search-div ul li .UI_select { margin-top:3px;}
.UI_select ul{position:absolute; display:none; top:20px; overflow-x:hidden; overflow-y:auto; background-color: #FEFCE7; border:1px solid #b1b0b0; list-style:none; padding: 4px 0; height: auto; z-index: 999;}
.UI_select img{float:right; margin:1px; display:inline;}
.UI_select_til{ color:#A47B7C; height: 23px; width:83px; padding-right:17px; float:left; text-align:center; overflow:hidden; cursor:default; background: url(../images/icon/select-Bg.gif) no-repeat right center;}
.UI_select ul li{min-width: 90px;padding: 0 4px; height:18px; line-height:18px; float:none; margin:0; cursor:pointer; white-space: nowrap;}
.UI_select ul li.active{background-color:#316ac5; }


.mutiSelect{position:relative; width:120px; height:20px; position:relative;
	line-height: 20px;
	border: 1px solid #b1b0b0;
	background: #fafafa;
	cursor: pointer;
	z-index:99;
	}
.search-div ul li .mutiSelect {
	margin: 3px 0 0 0;
}
.mutiSelect ul{position:absolute; top:20px; left: -1px; display:none; background:#FEFCE7; z-index:99; width: 230px;
	border: 1px solid #b1b0b0; padding: 4px 0;
	height: auto;}
.mutiSelect ul li {
	margin-right: 4px;
	height: 20px;
	line-height: 20px;
	width: 100px;
	overflow: hidden;
}
.mutiSelect .ct {
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.win {
	border: 1px solid #be8c8b;
	width: 480px;
}
.win .caption {
	height: 25px;
	line-height: 25px;
	background: url(../images/index/form-win.png) 0 -32px repeat-x;
	border-bottom: 1px solid #be8c8b;
}
.win .caption span {
	display: block;
	float: left;
	height: 25px;
	line-height: 24px;
	background: url(../images/index/form-win.png) 0 0 no-repeat;
	padding-left: 28px;
	color: #a80400;
	font-weight: bold;
}
.content-in {
	padding: 8px;
}
.win .content iframe {
	width: 100%;
	border: none;
}
.form-normal {
	width: 100%;
}
.form-normal td, .form-normal th {
	padding: 4px;
	border-bottom: 1px dashed #ddd;
}
.form-normal th {
	background: #f4f4f4;
	text-align: right;
	color: #666;
}
.input-s {
	width: 40px;
}
.input-m {
	width: 72px;
}
.notice {
	/*background: url(../images/index/notice-bg.gif) 0 bottom repeat-x #f8f8f8;*/
}
.notice img {
	float: left;
	margin: 16px 24px;
}
.notice .txt {
	color: #333;
	font-weight: bold;
	height: 80px;
	line-height: 80px;
}
.notice .btn {
	text-align: center;
	padding: 8px;
	clear: both;
}

.inner-panel .nav-panel {
	float: left;
	width: 200px;
}
.inner-panel .work-content {
	margin: 0 0 0 208px;
	text-align: left;
}
.tree-check {
	overflow-x: scroll;
}

ul.pro-bar {
	width: 100%;
}
ul.pro-bar li {
	margin: 8px 0;
	float: left;
	width: 132px;
	height: 24px;
	line-height: 20px;
	color: #666;
	list-style-type: none;
	background: url(../images/index/pro-off.gif) 0 0 no-repeat;
	cursor: pointer;
}
ul.pro-bar li .title {
	font-size: 18px;
	font-weight: bold;
	margin-left: 16px;
	margin-right: 4px;
	color: #888;
}
ul.pro-bar li.on {
	margin: 8px 0;
	float: left;
	width: 132px;
	height: 24px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
	background: url(../images/index/pro-on.gif) 0 0 no-repeat;
}
ul.pro-bar li.on .title {
	font-size: 18px;
	font-weight: bold;
	margin-left: 16px;
	margin-right: 4px;
	color: #fff;
}
.out-div {
	overflow-x: scroll;
}
th.tbl-up {
	background: url(../images/icon/tbl-up.png) right center no-repeat #EFEFEF;
}
th.tbl-down {
	background: url(../images/icon/tbl-down.png) right center no-repeat #EFEFEF;
}
.field-div {
	background: url(../images/index/field-bg.png) right bottom repeat-x #fff;
	font-weight: bold;
	color: #333;
	line-height: 16px;
}


.new-del {
	background: url(../images/icon/new-del.png) 2px center no-repeat;
	text-indent: 4px;
	cursor: pointer;
	color: #666;
}
.new-sider {
	background: #fbfbfb;
	border: 1px solid #eee;
	border-top: none;
	overflow: auto;
}
.div-intro {
	padding: 8px;
	background: #FDFAE1;
	color: #333;
	border: 1px solid #F5CF81;
	margin-bottom: 8px;
}
.div-intro span {
	font-weight: bold;
	color:#c00;
}
.input-form {
	width: 100%;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
}
.input-form th, .input-form td {
	padding: 5px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
}
.input-form th {
	text-align: right;
	color: #000;
	font-weight: bold;
	background: #f4f4f4;
}
.input-form td {
	text-align: left;
	color: #333;
	background: #fdfdfd;
}
.input-form .spec{
	color: #C00;
}
.tree-func {
	padding: 8px;
	background: #f6f6f6;
	border: 1px solid #eee;
	text-align: center;
	border-top: none;
}
.tree-func a {
	display: inline-block;
	padding: 4px;
	margin: 0 2px;
	text-indent: 16px;
	color: #333;
}
.tree-func a:hover {
	text-decoration: underline;
}
.tree-func a.add {
	background: url(../images/icon/tree-add.png) 0 center no-repeat;
}
.tree-func a.del {
	background: url(../images/icon/tree-del.png) 0 center no-repeat;
}
.tree-func a.ref {
	background: url(../images/icon/tree-ref.png) 0 center no-repeat;
}
.link-btn {
	text-align: center;
}
.link-btn a {
	display: inline-block;
	width: 300px;
	height: 100px;
	border: 1px solid #CCC;
	background: url(../images/index/link-btn-bg.png) 0 bottom repeat-x #fff;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 5px;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
	position: relative;
}
.link-btn a img {
	position: absolute;
	left: 16px;
	top: 18px;
	_border: 1px solid #ddd;
}
.link-btn a:hover {
	border: 2px solid #C00;
	margin: 4px;
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
.link-btn a span {
	display: table-cell;
	position: absolute;
	right: 12px;
	top: 34px;
	width: 200px;
	vertical-align: middle;
	color: #333;
	cursor: pointer;
	line-height: 16px;
}
.link-btn a span b {
	color: #c00;
}
.tb-spec {
	width: 100%;
	border: 1px solid #ddd;
}
.right-spec {
	overflow: auto;
	height: 210px;
	border: 1px solid #eee;
	background: #fafafa;
}
.tb-spec td.alert {
	text-align: center;
	padding: 4px;
	height: 80px;
}
.tb-spec th.alert {
	text-align: left;
	color: #C00;
	line-height: 20px;
	height: 80px;
}
.tab_normal .tab_title {padding-top:5px;  cursor:pointer; line-height:18px; float:left; height:24px;}
.tab_normal .tab_title dl{float:left; color:#848484; text-align:center; height:20px; padding:2px 3px 0 3px; }
.tab_title dl img{ margin-right:3px;}
.tab_normal .tab_title .selected{background:#FFFFFF; color:#848484; border:#E3E3E3 solid 1px; border-bottom-color:#fff;}
.tab_box dl{}
.tab_left .tab_title{ }
.tab_left{ position:relative;}
.tab_left .tab_title{ position:absolute; left:0px; margin:1px 0 1px 5px; width:23px;}
.tab_left .tab_title img{ margin:3px 0;}
.tab_left .tab_title dl{color: #000000;
    cursor: pointer;
    line-height: 14px;
    margin-bottom: 2px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 20px;}
.tab_left .tab_title dl{ padding:2px 0 2px 3px; color:#848484;}
.tab_left .tab_title dl.selected{background:#FFFFFF; color:#848484; border:#E3E3E3 solid 1px; border-right-color:#fff;}
.tab_left .content{float:left; border:#E3E3E3 solid 1px; border-left:none;height:100%; left:0;}
.tab_left .caption{ border:#E3E3E3 solid 1px; height:100%;padding-left:3px;float:left; width:25px;background:#FAFAFA;}
.tab-show .tab_title dl { float:left; margin-right:3px; background: #fff ;padding:1px; border:#CCCCCC solid 1px; border-bottom:0; padding-bottom:0; border-radius:3px; -moz-border-radius:3px 3px 0 0;}
.tab-show .tab_title dl span{  background: url(../images/tab_bg21.gif) 0 0px repeat-x; padding-bottom:0; padding:3px 10px 1px 10px; height:20px; line-height:20px; border-radius:3px; -moz-border-radius:3px 3px 0 0;}
.tab-show .tab_title dl.selected{ color:#C38383; }
.tab-show .tab_title dl.selected span{background: url(../images/tab_bg22.gif) 0 0px repeat-x;}
.tab-show .tab_title{ border-bottom:#D9BBBB solid 3px; height:22px;}
.choseday span{background:#f3f3f3; height:22px;border:#dbdbdb solid 1px;display:inline-block;text-align:center; line-height:22px; font-size:14px; font-weight:bold; float:left;   }
span.today{ width:61px; color:#7e7e7e; margin-right:15px; }
span.otherday{color:#c0c0c0;}
.choseday .prev a,.choseday .next a{color:#7e7e7e;  display:block; width:29px; height:22px; text-indent:-999px; background:url(../images/icon/choseday.gif) 0 0 no-repeat;}
.choseday .next{ border-left:none; margin-right:15px;}
.choseday .next a{ background-position: right top;}
.choseday .next a:hover{ background-position: right bottom;}
.choseday .prev a:hover{ background-position: left bottom;}

.choseday span.datepicker{ background-color:#fff;}
.choseday span.datepicker input{ margin:0; padding:0; border:0; font-size:12px; line-height:20px; height:20px; text-indent:3px; color:#686666; width:140px; float:left;}
.choseday span.datepicker img{ float:left; cursor:pointer;}
.tip-wrap .tip-box{ position:relative; background:#fff url(../images/tip/bg.png) 0 0 repeat-x; border:#BCBCBC solid 1px; border-top:none; margin-top:10px; padding:20px;}
.tip-wrap .tip-box .arr{ background:url(../images/tip/arr.png) 0 0 no-repeat; width:13px; height:19px; position:absolute; left:10px; top:-7px; }
.tip-wrap .tip-box .arr2{ background:url(../images/tip/arr.png) 0 0 no-repeat; width:13px; height:19px; position:absolute; left:480px; top:-7px; }
.tip-wrap .tip-box h1{ color:#444444; font-weight:bold; background:url(../images/tip/arr-red.png) 8px center no-repeat; padding-left:21px; line-height:30px;} 
.tip-wrap .tip-box p{ margin:0; line-height:20px;}
.tip-wrap .tip-box table td{ line-height:18px; padding:5px; color:#7E7E7E; border:#CACACA solid 1px; border-collapse:collapse;}
.tip-wrap .tip-box table{border-collapse:collapse;}
.tip-wrap .tip-box table th{ padding:5px; border:#CACACA solid 1px; color:#5D5D5D; border-collapse:collapse;}
.tip-wrap .tip-box table th{ background:#F1F1F1;}
/*--�ղغ����ղذ�ť--*/
.tip-btn{position:absolute; right:10px; top:10px;}
.btn-nocollect,.btn-collect{
	background:url(../images/framework/btn-nocollect.gif) top left no-repeat;
	width:60px;
	height:22px;
	display:inline-block;
	border:none;
	cursor:pointer;
}
.btn-collect{
	background:url(../images/framework/btn-collect.gif) top left no-repeat;
}