/* 图片链接定义 */
.ana-img-search {	
	background: url(icons/icon_search.gif) no-repeat center;
}
/*min or max start*/
.ana-img-min-icon {	
	margin-right: 4px;
	background: url(icons/delete.png) no-repeat center;
}
.ana-img-max-icon {	
	margin-right: 4px;
	background: url(icons/add.png) no-repeat center;
}
/*min or max end**/
.ana-img-setting {	
	background: url(icons/icon_setting.gif) no-repeat center;
}
.ana-img-searchsetting {	
	background: url(icons/icon_searchsetting.gif) no-repeat center;
}
.ana-img-save {	
	background: url(icons/icon_save.gif) no-repeat center;
}
.ana-img-savedata {	
	background: url(icons/icon_savedata.gif) no-repeat center;
}
.ana-img-delete {	
	background: url(icons/delete_folder.gif) no-repeat center;
}
.ana-img-max {	
	background: url(icons/icon_max.gif) no-repeat center;
}
.ana-img-maxbut {	
	background: url(icons/add.png) no-repeat center;
}
.ana-img-minbut {	
	background: url(icons/delete.png) no-repeat center;
}
.ana-img-saveimage {	
	background: url(icons/icon_saveimage.gif) no-repeat center;
}
.ana-img-users {	
	background: url(icons/icon_users.gif) no-repeat center;
}
.ana-img-green-up {	
	background: url(images/green_up.gif) no-repeat center;
}
.ana-img-green-down {	
	background: url(images/green_down.gif) no-repeat center;
}
.ana-img-red-up {	
	background: url(images/red_up.gif) no-repeat center;
}
.ana-img-red-down {	
	background: url(images/red_down.gif) no-repeat center;
}
.ana-img-red-pot {	
	background: url(images/red_pot.gif) no-repeat center;
}
.ana-img-green-pot {	
	background: url(images/green_pot.gif) no-repeat center;
}
.ana-img-scheme-remove{
	background: url(images-file/delete.gif) no-repeat center;
}
.ana-img-scheme-new{
	background: url(images-file/new_window.gif) no-repeat center;
}
.ana-img-scheme-rename{
	background: url(images-file/refresh.gif) no-repeat center;
}