/* 针对于模板modal-1的对应样式 */
/* 当前路径 */
#ana-title{
	position:relative;
	background-image: url(images/bg_panel_button.jpg);
	background-repeat: repeat-x;
	background-position: center;
	font-size: 12px;
	font-weight: bold;
	line-height:30px;
	height:30px;
	color: #333333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bad2e6;
	margin:0 0 5px 0;
}
#ana-title #ana-title-text {
	display:none;
	background: url(images/icon_th.gif) no-repeat 8px center;
	float:left;
	padding-left: 22px;
}
#ana-title #ana-title-buttons{
	position:relative;
	float:right;
}
#ana-title-buttons .ana-button {
	background:#FFCC99;
	border:1px solid #FFBD6B;
	color:#000000;
	cursor:pointer;
	margin-right:6px;
	*margin-top:3px;
	padding:1px 2px;
	text-align:center;
	vertical-algin:middle;
	zoom:1;
	width:auto;
}
#setp{
	font-weight:normal;
	margin-right:5px;
}
#val_per_page{
	width:40px;
}

#ana-myPersonalized{
	position:relative;
	margin:0;
	padding:0;
}
/* 个性化方案 */
#ana-myPersonalized{
	margin:0 10px;
}
#ana-myPersonalized .ana-font1{
	cursor: pointer;
	padding:5px;
	color:blue;
	font-weight:normal;
	font-style:normal; 
}
/* 我的分析方案 */
ul.schemes{
	display:none;
  	margin:0;
  	padding:0;
  	position:absolute;
  	background-color:#3D67BD;
  	border:1px solid #fff;
  	color:#fff;
	font-weight:normal;
  	top:13px;
  	left:2px;
  	list-style-type:none;
  	z-index:1000;
}
/* ie修正 */
ul.schemes-ie{
	margin:15px;
}
ul.schemes li.scheme{
  	margin:0;
  	padding:0 10px;
	cursor: pointer;
  	line-height:22px;
}
ul.schemes li.scheme-on{
	background-color:#283A7B;
}

/* 保存方案树 */
div#scheme-top{
}
div#scheme-tree{
	margin:0 0 10px 0;
	height:200px;
	width:94%;
	overflow-y:auto;
}
div#scheme-foot{
	text-align:center;
}
/* 目标客户群   */
div#target-user{
	margin:10px;
}
div#target-user input{
	width:380px;
}
div#target-user textarea{
	border: #DBDFE6 1px solid;
	font-size:12px;
	width:380px;
}
/* 个性化保存  */
div.personalCheckbox{
	line-height:26px;
	font-size:13px;
	letter-spacing:2px;
	color:#003399;
}