@charset "utf-8";
body{
	margin:0;
	padding:0;
	font-family:"微软雅黑",Arial,'Simsun',sans-serif ,SimSun, "宋体", Heiti, "黑体";
	font-size:62.5%;
	background-color:#fff;
	overflow-x:hidden;
	position:relative;
	min-width:1100px;
	color:#717171;}
	
li{
	list-style-type:none;}
	
img{
	border:none;}
	
a{
	text-decoration:none;color:#4095ce;}
	
a:visited{}a:hover{
	text-decoration:none; color:#fa830b;}
	
a:active{}{
	list-style:none}
	
p,h1,h2,h3,h4,h5,h6,form,input,textarea,select,button,fieldset,legend,img,ul,ol,li,dl,dt,dd,th,td,pre,blockquote{
	margin:0;
	padding:0;
	font-family:"微软雅黑",Arial,'Simsun',sans-serif ,SimSun, "宋体", Heiti, "黑体";}
	
address, cite, dfn, em, var {
    font-style: normal;
}

i{
	font-style:normal;}
	
table{
	border:0; cellspacing:0; border-collapse:collapse;}

/*通用调节样式*/
.w30{width:30px;}
.w85{width:85px;}
.w90{width:90px;}
.w100{width:100px;}
.w140{width:140px;}
.w165{width:165px;}
.w180{width:180px}
.w190{width:190px;}
.w200{width:200px;}
.w220{width:220px;}
.w230{width:230px;}
.w250{width:250px;}
.w300{width:300px;}
.w336{width:336px;}
.w350{width:350px;}
.w400{width:400px;}
.w450{width:450px;}
.w480{width:480px;}
.w500{width:500px;}
.w530{width:530px;}
.w640{width:640px;}
.w800{width:800px;}
.w810{width:810px;}
.w1004{width:1083px;}

.h24{ height:24px;}
.h26{ height:26px;}
.h55{height:55px;}
.h100{height:100px;}
.h140{height:140px;}
.h150{height:150px;}

.wper2{ width:2%;}
.wper5{ width:5%;}
.wper10{ width:10%;}
.wper15{ width:15%;}
.wper20{ width:20%;}
.wper25{ width:25%;}
.wper30{ width:30%;}
.wper35{ width:35%;}
.wper39{ width:39%;}
.wper40{ width:40%;}
.wper50{ width:50%;}
.wper59{ width:59%;}
.wper60{ width:60%;}
.wper70{ width:70%;}
.wper80{ width:80%;}
.wper90{ width:90%;}
.wper91{ width:91%;}
.wper100{ width:100%;}

.h55{height:55px;}
.h100{height:100px;}
.h140{height:140px;}
.h150{height:150px;}

.fe14{font-size:1.4em;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.yh{font-family:Microsoft YaHei, "微软雅黑";}

.cf30{color:#f30;}
a.cf30:link,a.cf30:visited{color:#f30;}
a.cf30:hover,a.cf30:active{color:#f30;}

.cf60{color:#f60;}
a.cf60:link,a.cf60:visited{color:#f60;}
a.cf60:hover,a.cf60:active{color:#f60;}

.cf90{color:#ffb900;}
a.cf90:link,a.cf90:visited{color:#ffb900;}
a.cf90:hover,a.cf90:active{color:#ffb900;}

.orange{color:#ffba00;}
a.orange:link,a.orange:visited{color:#ffba00;}
a.orange:hover,a.orange:active{color:#f30;}

.c009cff{color:#4095ce;}
a.c009cff:link,a.c009cff:visited{color:#4095ce;}
a.c009cff:hover,a.c009cff:active{color:#4095ce;}

.c7f7f7f{color:#7f7f7f;}
a.c7f7f7f:link,a.c7f7f7f:visited{color:#7f7f7f;}
a.c7f7f7f:hover,a.c7f7f7f:active{color:#f30;}

.ff0084{color:#ff0084;}
a.ff0084:link,a.ff0084:visited{color:#ff0084;}
a.ff0084:hover,a.ff0084:active{color:#f30;}

.a6ce38{color:#a6ce384;}
a.a6ce38:link,a.a6ce38:visited{color:#a6ce38;}
a.a6ce38:hover,a.a6ce38:active{color:#f30;}

a.c4095ce,.c4095ce{color:#4095ce;}
a.c4095ce:hover{color:#f30;}

a.ca6ce38,.ca6ce38{color:#a6ce38;}
a.ca6ce38:hover{color:#f30;}

a.f9800b{color:#f9800b;}

.fff{color:#fff!important;}
.c000{color:#000;}
.c333{color:#333;}
.c666{color:#666;}
.c999{color:#999;}
.cccc{color:#ccc;}
.caaa{color:#aaa;}
.c4e4e4e{color:#4e4e4e;}
.cc20000{color:#c20000}
.cfdb900{color:#fdb900;}
.purple{color:#e5004f;}
.c40000{color:#c40000;}
.fa830b{ color:#fa830b;}

.cl_198e5e{color:#198e5e;}
.cl_009966{ color:#009966;}

.bg_333333{ background:#333333!important;}
.bg-2e2e2e{ background:#2e2e2e!important;}
.bg_1e1e1e{ background:#1e1e1e!important;}
.bg_f2fbff{background:#f2fbff!important;}



.clear{
	clear:both;}
.clear_a:after{
	content:'\20';display:block;clear:both;}
.cl:after, .clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;}
.fLeft{float:left;}
.fRight{float:right;}

.left{text-align:left;}
.center{text-align:center;}
.right{text-align:right;}

.left-i{text-align:left!important;}
.center-i{text-align:center!important;}
.right-i{text-align:right!important;}

.absolute{position:absolute;}
.relative{position:relative;}

.hide{display:none;}
.hide.selected{display:block;}
.block{ display:block;}
.noBold{font-weight:normal;}

.bold{font-weight:bold;}
.ofHidden{overflow:hidden;}
.vam{vertical-align:middle;}
.vat{vertical-align:top;}

.mauto{ margin:0 auto;}
.ml1{margin-left:1px;}
.mt5{margin-top:5px;}

.p10{padding:10px;}
.p20{padding:20px;}

.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}

.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt60{padding-top:60px;}

.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}

.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
/*通用调节样式*/

/*通用内容样式 s*/
.default-text-input {
  border: 1px solid #E7D4B3;
  background: #FFFFFF;
  height:24px;
  line-height: 24px;
  padding:0 5px;
}
.default-btn{
	background:url(../images/icon.png);
	background-position:-120px 0;
	width:80px;
	height:28px;
	line-height:28px;
	display:block;
	text-align:center;
	font-size:1.1em;
	color:#fff;}
.default-btn:hover{
	background-position:-120px -28px;
	width:80px;
	height:28px;
	color:#fff;}	
.default-140-btn{
	background:url(../images/icon.png);
	background-position:-200px 0;
	width:140px;
	height:28px;
	line-height:28px;
	display:block;
	text-align:center;
	font-size:1.1em;
	color:#fff;}
.default-140-btn:hover{
	background-position:-200px -28px;
	width:140px;
	height:28px;
	color:#fff;}	
.default-gree-btn{
	background:url(../images/icon.png);
	background-position:-392px -56px;
	width:80px;
	height:28px;
	line-height:28px;
	display:block;
	text-align:center;
	font-size:1.1em;
	color:#fff;}
.default-gree-btn:hover{
	background-position:-392px -84px;
	width:80px;
	height:28px;
	color:#fff;}		
.default-gree-140-btn{
	background:url(../images/icon.png);
	background-position:-340px 0;
	width:140px;
	height:28px;
	line-height:28px;
	display:block;
	text-align:center;
	font-size:1.1em;
	color:#fff;}
.default-gree-140-btn:hover{
	background-position:-340px -28px;
	width:140px;
	height:28px;
	color:#fff;}	
.btn-Uarrow,.btn-Darrow{
	background:url(../images/icon.png);
	width:11px;
	height:12px;
	display:inline-block;
	margin-right:5px;
	vertical-align:middle;}
.btn-Uarrow{
	background-position:-480px -0px;}
.btn-Darrow{
	background-position:-480px -12px;}		
.title{
	font-size:1.1em;
	color:#717171;}
.title i{
	background: #FF861B;
	display: block;
	width: 5px;
	height: 18px;
	float:left;
	margin:0 5px;
}
.title-o{
	background:url(../images/title-o-bg.png) repeat-x;
	height:37px;}
.title-o i{
	background:url(../images/title-o-text-bg.png);
	display:block;
	height:37px;
	width:121px;
	color:#FFF;
	text-align:center;
	line-height:37px;
	font-size:1.1em;}
	
.time_input{
	border: 1px solid #E7D4B3;
    height:24px;
    line-height:24px;
	padding:0 5px;
	float:left;}
.time_input_icon{
	display:block;
	float:left;
	width:19px;
	height:17px;
	margin-top:6px;
	margin-left:-22px!important;
	background:url(../images/date.png) no-repeat;}
.default-dt{
	width:100%; }		
/* check box*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
background: url(../images/icon.png) no-repeat -120px -75px; border:none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
background: url(../images/icon.png) no-repeat -120px -75px; border:none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
background: url(../images/icon.png) no-repeat -120px -60px; border:none;
}	
.checkbox{
	height:15px;
	width:15px;}	
.checkbox label{
	height:15px;
	width:15px;}

.ui-button-text-only .ui-button-text {
    margin-left: 10px;
}	
.default-search-tb th,.default-search-tb td{
	padding-top:10px;}
/*通用内容样式 e*/

#container{
	font-size:12px;
	min-height:400px;
	width:100%;}
	
#head{
	background:url(../images/head-bg.png) repeat-x;
	height:86px;
	position:relative;}
#logo{
	background:url(../images/logo.png) no-repeat;
	width:412px;
	height:36px;
	position:absolute;
	top:23px;
	left:10px;}
#navi{
	position:absolute;
	top:12px;
	left:460px;
	font-size:1.1em;}	
#navi ul li{
	float:left;
	margin-right:2px;}
#navi ul li a{
	display:block;
	background:url(../images/navi-select.png);
	color:#fff;
	width:95px;
	height:69px;
	text-align:center;}
#navi ul li a.select,#navi ul li a:hover{
	background:url(../images/navi-default.png);
	color:#979797;
	}
.navi-01,.navi-02,.navi-03,.navi-04,.navi-05{
	background:url(../images/icon.png);
	display:block;
	width:40px;
	height:40px;
	margin-left:27.5px;
	*margin-left:2px;
	position:relative;
	top:2px;}	
#navi ul li a.select .navi-01,#navi ul li a:hover .navi-01{
	background-position:0 0;}
#navi ul li a.select .navi-02,#navi ul li a:hover .navi-02{
	background-position:0 -40px;}
#navi ul li a.select .navi-03,#navi ul li a:hover .navi-03{
	background-position:0 -80px;}
#navi ul li a.select .navi-04,#navi ul li a:hover .navi-04{
	background-position:0 -120px;}
#navi ul li a.select .navi-05,#navi ul li a:hover .navi-05{
	background-position:0 -160px;}
.navi-01{
	background-position:-40px 0;}
.navi-02{
	background-position:-40px -40px;}
.navi-03{
	background-position:-40px -80px;}
.navi-04{
	background-position:-40px -120px;}
.navi-05{
	background-position:-40px -160px;}			

#head-info{
	*width:150px;
	float:right;
	margin-top:10px;
	*margin-top:15px;}
#head-info ul li{
	float:right;
	margin-right:15px;}
#head-info ul li a{
	color:#717171;}
#head-info ul li a:hover{
	color:#fa830b;}		
#logout-icon{
	background:url(../images/icon.png);
	background-position:-80px 0;
	display:block;
	float:left;
	margin-right:4px;
	width:13px;
	height:15px;}
#editPsw-icon	{
	background:url(../images/icon.png);
	background-position:-100px 0;
	display:block;
	float:left;
	margin-right:4px;
	width:14px;
	height:15px;}
#content{
	width:100%;
	background:#f7f7f7;}
#left-menu{
	width:230px;}	
#main{
	width:99%;
	margin:0 auto;
	margin-top:5px;}		
	

/*左侧菜单 s*/
div.sdmenu{
	background:url(../images/bottom.gif) no-repeat  right bottom;
	color:#838383;}
div.sdmenu div{
	/*background:url(../images/left-menu-list-bg.png) repeat-y;*/
	overflow:hidden;}
div.sdmenu div.collapsed:hover{
	/*background:url(../images/left-menu-list-bg.png) repeat-y;*/
	overflow:hidden;
	color:fc9215;}	
/*div.sdmenu div:first-child{
	background:url(../images/toptitle.gif) no-repeat;}*/
div.sdmenu div.collapsed{
	background: url(../images/menu-title.png) repeat-x #f7f7f7;
	height:40px;}	
div.sdmenu div span{
	display:block;
	height:30px;
	line-height:30px;
	overflow:hidden;
	padding:5px 25px;
	font-weight:bold;
	color:#838383;
	background:url(../images/expanded.png) no-repeat  210px 18px;
	cursor:pointer;
	border-bottom:1px solid #e7d4b3;
}

div.sdmenu div span:hover {
	color:#fc9215;}
div.sdmenu div.collapsed span{
	color:#838383;
	background:url(../images/collapsed.png) no-repeat  210px center;}
div.sdmenu div.collapsed:hover span{
	color:#fc9215;}	
div.sdmenu div a{
	padding:8px 25px;
	background:#eee8e6;
	display:block;
	border-bottom:1px dashed #d6b982;
	color:#97897b;}
div.sdmenu div a.current{
	background:#ccc;}
div.sdmenu div a:hover{
	color:#fc9215;
	text-decoration:none;}	

.menu-toDo,.menu-note,.menu-vRate,.menu-fileDl{
	background:url(../images/icon.png);
	display:block;
	float:left;
	margin-top:4px;
	margin-right:8px;
	width:20px;
	height:20px;}
.menu-toDo,div.sdmenu div.collapsed span .menu-toDo{
	background-position:-80px -20px;}
.menu-note,div.sdmenu div.collapsed span .menu-note{
	background-position:-80px -40px;}
.menu-vRate,div.sdmenu div.collapsed span .menu-vRate{
	background-position:-80px -80px;}
.menu-fileDl,div.sdmenu div.collapsed span .menu-fileDl{
	background-position:-80px -60px;}
/*.menu-toDo,div.sdmenu div.collapsed:hover span .menu-toDo{
	background-position:-100px -20px;}
.menu-note,div.sdmenu div.collapsed:hover span .menu-note{
	background-position:-100px -40px;}
.menu-vRate,div.sdmenu div.collapsed:hover span .menu-vRate{
	background-position:-100px -80px;}
.menu-fileDl,div.sdmenu div.collapsed:hover span .menu-fileDl{
	background-position:-100px -60px;}	*/
/*左侧菜单 e*/
/* #main .main-area{
	border:1px solid #e7d4b3;
	background:#fff;
	width:47%;
	float:left;
	padding:1%;
	margin-bottom:10px;
} */
#main .main-area{
	border:1px solid #e7d4b3;
	width:47%;
	float:left;
	padding:1%;
	margin-bottom:10px;
	background:url(../images/main-area-bg.png) no-repeat right bottom #fff;
}
#main .main-area.right-area{
	margin-left:1.5%;}
#main .main-block{
	border:1px solid #e7d4b3;
	background:#fff;
	width:98%;
	float:left;
	padding:1%;
	margin-bottom:10px;
}
.main-area-conFull{
	width:100%;
	height:280px;
	padding:10px 0;
	vertical-align:middle;}

/*主页 s*/
.tab-screen {
	background: #FFB935;
	height:28px;
	line-height: 32px;
	padding-left:20px;
	padding-top:4px;
}
.tab-screen a{
	float:left;
	color:#fff;
	width: 81px;
	height: 24px;
	line-height:24px;
	text-align:center;
	display: inline-block;
	vertical-align: middle;
	margin-right:15px;}
.tab-screen a:hover,.tab-screen a.select{
	border-radius: 2px;
	background: #FC9314;
	line-height: 23px;
}

#index .panel-body {
    border-top-width: 0;
    overflow:hidden;
	border-bottom: 1px solid #e7d4b3;
    padding: 0;
}

/*主页 e*/	

/*智能报表 s*/
#smartForm .title{
	padding-bottom:5px;
	border-bottom:1px solid #e7d4b3;}
#sm-payment-order-apply{
	width:60%;
	margin:10px 0;}
#sm-payment-order-apply tr td{
	padding:5px 0;}
#chose-place-count{
	margin:10px 0;}	
#chose-place-count li{
	float:left;
	margin-right:25px;}
		



.tabs-header {
  border: 0;}
 .tabs-panels {
    border: 0}
.tabs-header, .tabs-tool {
    background:none;
}
.tabs {
    border-bottom: 4px solid #eb7804;
    height: 31px!important;
    list-style-type: none;
    margin: 0;
    padding:0;
    width: 50000px;
}

.tabs li a.tabs-inner, .tabs li.tabs-selected a.tabs-inner, .tabs-header-bottom .tabs li.tabs-selected a.tabs-inner, .tabs-header-left .tabs li.tabs-selected a.tabs-inner, .tabs-header-right .tabs li.tabs-selected a.tabs-inner {
	width:128px;
	border-color: #e7d4b3;
	border-bottom:0;
	line-height:34px!important;
	height:30px!important;
}
.tabs li.tabs-selected a.tabs-inner {
    background: url(../images/tab-select-bg.png) repeat-x #ffb935;
    color: #fff;
	font-weight:bold;
    border:1px solid #eb7804;
	border-bottom:0;
}
.tabs li a.tabs-inner {
    color: #a5a5a5;
	font-weight:bold;
    background: #f7f7f7;
}

.tab-control-btn{
	position:absolute;
	right:0;
	top:5px;
	z-index:99;}
.tab-control-btn li{
	float:left;
	padding-right:5px;
	margin-right:5px;
	border-right:1px dashed #f40;}	
.tab-control-btn li.last{
	border-right:0px dashed #f40;}
#defer-list{
	margin-top:10px;}
#chose-sender{
	margin-top:10px;}
#chose-sender table{
	margin-top:10px;}	
	
.audit_list li{
	float:left;
	margin-right:5px;}
.audit_btn{
  border-radius: 2px;
  background: #F0F0F0;
  color:#717171;
  display:block;
  width: 70px;
  height: 24px;
  text-align:center;
  vertical-align: middle;
  line-height: 24px;
}
.audit_btn.select{
	background:#ff861b;
	color:#fff;}
.audit_text-input {
  border: 1px solid #E7D4B3;
  background: #FFFFFF;
  width: 565px;
  height: 80px;
}



/* 表头固定 styles */

.default-dt table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}
.default-dt td, .default-dt th {
    padding: 0.4em 1em;
    /* text-align: left; */
	border-bottom:1px solid #c0e2ef;
}
.default-dt td{
   
	border-left:1px solid #e7d4b3;
}
	.default-dt td.err {
		background-color: #e992b9;
		color: #fff;
		font-size: 0.75em;
		text-align: center;
		line-height: 1;
	}
.default-dt .sticky-wrap .sticky-enabled th{
	/*background:url(../images/thead.png) no-repeat center right #ffecc8;
	*background:url(../images/thead.png) no-repeat center left #ffecc8;*/
	background:#ffecc8;
    font-weight: bold;
    color: #d28531;
    white-space: nowrap;
	text-align:center;
	border-left:1px solid #e7d4b3;
	font-size:1.1em;}
.default-dt .sticky-wrap .sticky-thead th {
    /*background-color: #ffecc8;*/
	background:url(../images/thead.png) no-repeat center right #ffecc8;
    font-weight: bold;
    color: #d28531;
    white-space: nowrap;
	text-align:center;
	font-size:1.1em;
	/*border-left:1px solid #e7d4b3;
	*border-left:0px solid #e7d4b3;*/
}
.default-dt tbody th {
	background-color: #ffecc8;
}
.default-dt tbody tr:nth-child(2n-1) {
    transition: all .125s ease-in-out;
}
.default-dt tbody tr.odd {
    background-color: #f1fbff;
    transition: all .125s ease-in-out;
}
.default-dt tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}
.default-dt tbody tr.over {
    background-color: #d9f1e7;
}
/* For appearance */
/*设置表格区域*/
.default-dt .sticky-wrap {
	/* overflow-x: auto;
	overflow-y: hidden; */
	/* position: relative; */
	width: auto;
	height:250px;
	border:1px solid #e7d4b3;
	padding-bottom: 5px;
	*float: left;
}
.dt-autoH{
	height:auto;}
.dt-autoH .sticky-wrap{
	height:auto;
	}	
.dt-autoH .sticky-wrap.overflow-y {
	overflow-x:scroll;
	overflow-y:hidden;
/*	overflow:scroll;*/
	height: auto;
}	
.dt-autoH .sticky-wrap .sticky-thead{
	display:none;}
.default-dt .sticky-wrap .sticky-thead,
.default-dt .sticky-wrap .sticky-col,
.default-dt .sticky-wrap .sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto; /* Prevent table from stretching to full size */
}
	.default-dt .sticky-wrap .sticky-thead {
		box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
		z-index: 100;
		width: 100%; /* Force stretch */
	}
	.default-dt .sticky-wrap .sticky-intersect {
		opacity: 1;
		z-index: 150;

	}
		.default-dt .sticky-wrap .sticky-intersect th {
			background-color: #efbf63;
			color: #fff;
		}
.default-dt .sticky-wrap td,
.default-dt .sticky-wrap th {
	box-sizing: border-box;
	white-space:nowrap;
}

/* Not needed for sticky header/column functionality */
.default-dt td.user-name {
	text-transform: capitalize;
}
.default-dt .sticky-wrap.overflow-y {
	overflow-y: auto;
	/*max-height: 50vh;*/
}
/*结束表头固定*/


/* 普通表格样式 s */
.no-js-table{
	padding-bottom:20px;}
.default-dt table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}
.default-dt td, .default-dt th {
    padding: 0.4em 1em;
    /* text-align: left; */
	border-bottom:1px solid #c0e2ef;
}
.default-dt td{
   
	border-left:1px solid #e7d4b3;
}
	.default-dt td.err {
		background-color: #e992b9;
		color: #fff;
		font-size: 0.75em;
		text-align: center;
		line-height: 1;
	}
.default-dt .no-js-table th{
	/*background:url(../images/thead.png) no-repeat center right #ffecc8;
	*background:url(../images/thead.png) no-repeat center left #ffecc8;*/
	background:#ffecc8;
    font-weight: bold;
    color: #d28531;
    white-space: nowrap;
	text-align:center;
	font-size:1.1em;
	border-left:1px solid #e7d4b3;}

.default-dt tbody th {
	background-color: #ffecc8;
}
.default-dt tbody tr:nth-child(2n-1) {
    transition: all .125s ease-in-out;
}
.default-dt tbody tr.odd {
    background-color: #f1fbff;
    transition: all .125s ease-in-out;
}
.default-dt tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}
.default-dt tbody tr.over {
    background-color: #d9f1e7;
}
/* For appearance */
/*设置表格区域*/
.default-dt .no-js-table {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	width: auto;
	height:250px;
	border:1px solid #e7d4b3;
}
.dt-autoH{
	height:auto;}
.dt-autoH .no-js-table{
	height:auto;
	}	
.dt-autoH .no-js-table.overflow-y {
	overflow-x:scroll;
	overflow-y:hidden;
/*	overflow:scroll;*/
	height: auto;
}	

.default-dt .no-js-table td,
.default-dt .no-js-table th {
	box-sizing: border-box;
	white-space:nowrap;
}

/* Not needed for sticky header/column functionality */
.default-dt td.user-name {
	text-transform: capitalize;
}
.default-dt .no-js-table.overflow-y {
	overflow-y: auto;
	/*max-height: 50vh;*/
}
/*普通表格样式*/


/*页码样式 s*/
.page-control{
	float:right;
	margin-top:5px;}	
.page-control a{
	float:left;
	border:1px solid #96a2ae;
	height:20px;
	line-height:20px;
	padding:0 5px;
	margin-right:5px;
	display:block;
	color:#333;}
.page-control i{
	float:left;
	display:block;
	margin-right:5px;
	line-height:20px;}	
.page-control a.select{
	background:#f9800f;
	border:1px solid #d67413;
	color:#FFF;}
.page-control a:hover{
	background:#f9800f;
	border:1px solid #d67413;
	color:#FFF;}	
/*页码样式 e*/	

/*智能报表 e*/	


/*公告发布 s*/	
#nRtable{
	width:80%;
	margin:0 auto;
	margin-top:40px;
	margin-bottom:20px;
	position:relative;
	background:#fff7ea;
	border-top:1px solid #e7d4b3;
	border-left:1px solid #e7d4b3;}
#nRtable tr td{
	height:24px;
	border-bottom:1px solid #e7d4b3;
	border-right:1px solid #e7d4b3;
	padding:10px 10px;}	
.nR-check{
	width:auto;
	float:left;
	margin-right:25px;}
.nR-check label{
	width:auto;}	
#nRtitle{
	background:url(../images/notice-mtitle.png);
	width:214px;
	height:46px;
	margin:0 auto;
	margin-top:-36px;
	color:#fff;
	text-align:center;
	font-size:1.2em;
	line-height:46px;}		
/*公告发布 e*/	

/*报表下钻----start-----*/
a.sub {
	background: transparent url('../images/span_sub_on.gif') no-repeat 0 0px;
	padding-left:22px;
	*padding:0 0 0 22px;
	_padding-left:22px;
	height: 22px;
}
span.sub {
	background: transparent url('../images/a_sub_o.png') no-repeat 0 0px;
	padding-left:22px;
	*padding:0 0 0 22px;
	_padding-left:22px;
	height: 22px;
}
a:link.sub {
	color: #000;
}
a:hover.sub {
	color: #FF9966;
}
a.sub_on {
	background: transparent url('../images/span_sub.gif') no-repeat 0 0px;
	padding-left:22px;
	*padding:0 0 0 22px;
	_padding-left:22px;
	height: 22px;
}
span.sub_on {
	background: transparent url('../images/a_sub.png') no-repeat 0 0px;
	padding-left:22px;
	*padding:0 0 0 22px;
	_padding-left:22px;
	height: 22px;
}
a:hover.sub_on {
	color: #FF9966;
}
a.root {
	background: transparent url('../images/span_root.gif') no-repeat 0 -1px;
	padding-left: 15px;
}
span.root {
	background: transparent url('../images/a_root.png') no-repeat 0 0px;
	padding-left: 15px;
}
a:hover.root {
	color: #FF9966;
}
/*报表下钻----end-----*/

/*登陆 s*/
#login-logo{
	background:url(../images/login-logo.png) no-repeat;
	width:765px;
	height:54px;
	margin:15px 0 15px 15px;}
#login #content{
	background:url(../images/login-bg.png) no-repeat center center #e47a16;
	width:100%;
	height:513px;
	position:relative;}	
	#login #content #content-main{
	width:1300px;
	margin:0 auto;
	position:relative;}	
#login-ad{
	display:inline-block;
	margin-right:50%;
	position:absolute;
	left:0px;
	*left:10px;
	}
.login-title-head-text{
	font-size:1.4em;
	_font-size:16px;}	
#login-area {
	border-radius: 5px;
	background: #FFFFFF;
	box-shadow: 2px 3px 3px 0px #9d4a0d;
	width: 403px;
	height: 353px;
	position:absolute;
	top:75px;
	left:50%;
	margin-left:150px;
}
#login-area table{
	width:320px;
	position:absolute;
	left:41.5px;
	top:50px;}
#login-area table td{
	padding:12px 0;}	
.login-default-text-input{
	border: 1px solid #DAD9DA;
	background: rgba( 235, 235, 235, 0 );
	height: 34px;
	line-height: 34px;
	vertical-align:middle;
	margin-left:-3px;
	padding:0 5px;
	font-size:1.2em;
}	
.log-icon-bg{
	width:36px;
	height:36px;
	display:inline-block;
	background:#c4c2c3;}
.log-user-icon,.log-psw-icon,.log-vcode-icon{
	background:url(../images/icon.png);
	width:36px;
	height:36px;
	display:inline-block;
	vertical-align:middle;}
.log-user-icon{
	background-position:-356px -56px;}
.log-psw-icon{
	background-position:-356px -92px;}
.log-vcode-icon{
	background-position:-356px -128px;}		
.login-btn{
	background:url(../images/icon.png);
	background-position:-120px -90px;
	height:48px;
	width:236px;
	display:inline-block;}	
.login-btn:hover{
	background-position:-120px -138px;}		
/*登陆 e*/

/*分页*/
#list_page_count{
	position:relative;
	width:100%;
	height:30px;
	background:url(../images/table_count_bg.png) repeat-x;}
#list_page_count_left{
	position:absolute;
	left:20px;
	top:5px;}
#list_page_count_right{
	position:absolute;
	right:20px;
	top:5px;}
/*分页 end */


/*渠道添加样式 s*/
#smartForm .title{
	padding-bottom:5px;
	border-bottom:1px solid #e7d4b3;}
.w175{width:175px;}
.w160{width:160px;}
.required{
	color:#F00;
	padding-left:10px;
	font-size:16px;}	
.channel-add-form{
	width:100%;
	margin:10px 0;}
.channel-add-form tr th{
	text-align:right;
	width:20%;}	
.channel-add-form tr td{
	padding:5px 0;}
/*渠道添加样式 e*/	
.arrow-down-map{
	float:right;
	width:16px;
	height:16px;
	background: url("images/arrow_down.png") no-repeat;
	cursor:pointer;
}
.arrow-up-map{
	float:right;
	width:16px;
	height:16px;
	background: url("images/arrow_up.png") no-repeat;
	cursor:pointer;
}
.aui_content{
	font-size:16px;
}





